<ion-nav-bar class="bar-stable bar-payin">
</ion-nav-bar>

<ion-view view-title="Pay[in]">
  <ion-nav-buttons side="right">
    <div class="">
      <a ng-href="#/PaymentMedia"><img class="button button-clear button-positive" style="width:40px" src="img/card.png"/></a>
      <img ng-controller="popup" class="button button-clear button-positive" style="width:20px"
        src="img/android-more.png" ng-click="openMenu()"/>
    </div>
  </ion-nav-buttons>
  <ion-side-menus>

  <ion-pane ion-side-menu-content>
  <!-- Main content, usually <ion-nav-view> -->
    <ion-content data-xp-panel>
    <div class="row">
      <div class="col">
        <a class="button button-block button-payin" ng-href="#/Camera/Picture">Escanear código</a>
      </div>
      <div class="col">
        <a ng-controller="plugin" class="button button-block button-payin" ng-click="LaunchPlugin()">SEExample</a>
      </div>
    </div>
      <!--<div class="row">
      <div class="col text-left">
        <a class="button button-clear button-payin">Historial</a>
      </div>
      </div>-->
      <ion-list>
        <ion-item>
          <div class="row row-center">
            <div class="col col-25 text-right">
              <a class="ticket-prize">18.50€</a>
              <br/>
              <a class="ticket-prizeAux">De 20.50€</a>
            </div>
            <div class="col col-70 ">
              <a class="ticket-list">CONCEPTO</a>
              <br/>
              <a class="ticket-listAux">Emite</a>
              <br/>
              <a class="ticket-listAux">00/00/00 00:00am</a>
            </div>
            <div class="col col-5 col-center text-right"><img class="iconList" src="img/unchecked.png"/></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row row-center">
            <div class="col col-25 text-right">
              <a class="ticket-prize">18.50€</a>
              <br/>
              <a class="ticket-prizeAux"></a>
            </div>
            <div class="col col-70">
              <a class="ticket-list">CONCEPTO</a>
              <br/>
              <a class="ticket-listAux">Emite</a>
              <br/>
              <a class="ticket-listAux">00/00/00 00:00am</a>
            </div>
            <div class="col col-5 col-center text-right"><img class="iconList" src="img/checked.png"/></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row row-center">
            <div class="col col-25 text-right">
              <a class="ticket-prize">18.50€</a>
              <br/>
              <a class="ticket-prizeAux"></a>
            </div>
            <div class="col col-70">
              <a class="ticket-list">CONCEPTO</a>
              <br/>
              <a class="ticket-listAux">Emite</a>
              <br/>
              <a class="ticket-listAux">00/00/00 00:00am</a>
            </div>
            <div class="col col-5 col-center text-right"><img class="iconList" src="img/checked.png"/></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row row-center">
            <div class="col col-25 text-right">
              <a class="ticket-prize">18.50€</a>
              <br/>
              <a class="ticket-prizeAux"></a>
            </div>
            <div class="col col-70">
              <a class="ticket-list">CONCEPTO</a>
              <br/>
              <a class="ticket-listAux">Emite</a>
              <br/>
              <a class="ticket-listAux">00/00/00 00:00am</a>
            </div>
            <div class="col col-5 col-center text-right"><img class="iconList" src="img/checked.png"/></div>
          </div>
        </ion-item>
        <ion-item>
          <div class="row row-center">
            <div class="col col-25 text-right">
              <a class="ticket-prize">18.50€</a>
              <br/>
              <a class="ticket-prizeAux"></a>
            </div>
            <div class="col col-70">
              <a class="ticket-list">CONCEPTO</a>
              <br/>
              <a class="ticket-listAux">Emite</a>
              <br/>
              <a class="ticket-listAux">00/00/00 00:00am</a>
            </div>
            <div class="col col-5 col-center text-right"><img class="iconList" src="img/checked.png"/></div>
          </div>
        </ion-item>
      </ion-list>
    </ion-content>
    </xp-list>
  </ion-content>
  </ion-pane>

  <!-- Right menu -->
    <ion-side-menu side="right">
      <ion-header-bar class="bar-stable bar-payin">
      </ion-header-bar>
      <ion-content>
      <ion-list>
        <div class="list">
            <a class = "button button-full button-clear button-payin" ng-href="#/Map">Mapa</a>
            <a class = "button button-full button-clear button-payin" ng-href="#/Account/Profile">Perfil</a>
            <a xp-logout class = "button button-full button-clear button-payin" ng-click="logout();">Salir</a>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
  
</ion-view>