﻿@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Common.Resources;
@using PayIn.Application.Dto.Payments.Arguments.PaymentConcession;
@using PayIn.Web.App.Factories;
@using Xp.Common.Resources;
@using PayIn.Domain.Security;

@*Admin Update*@
@using (Html.xpPut(
	PaymentConcessionFactory.UpdateName,
	PaymentConcessionFactory.UrlApi,
	"",
	//PaymentConcessionResources.Update
	"resources.paymentConcession.update"
))
{   
	<xp-get data-api="@PaymentConcessionFactory.UrlApi">
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.Name, focus: true))				
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.State))
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.PayinCommission))
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.LiquidationAmountMin))
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.Phone, inputAttribute: "disabled"))
		@(Html.ArgumentFor<PaymentConcessionUpdateArguments>(x => x.Observations, inputAttribute : "disabled"))
	</xp-get>
}



