﻿@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Common.Resources;
@using PayIn.Application.Dto.Security.Arguments;
@using PayIn.Web.App.Factories;
@using Xp.Common.Resources;
@using PayIn.Domain.Security;
@using PayIn.Application.Dto.Payments.Arguments.PaymentConcession;
@using PayIn.Common;

@using (Html.xpPut(
	PaymentConcessionFactory.UpdateCommerce,
	PaymentConcessionFactory.UpdateCommerceApi,
	"",
	//PaymentConcessionResources.UpdatePaymentConcession,
	"resources.paymentConcession.updatePaymentConcession"
))
{
	<div class="spinnerContainer" data-ng-show="_windowState.isBusy">
		<img class="spinnerLoading" src="~/Images/spinner.gif" />
	</div>
	<xp-get data-api="@PaymentConcessionFactory.GetCommerceApi">
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.Name, inputAttribute: "ng-disabled=arguments.state!=="+(int)ConcessionState.Pending))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.AccountNumber))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.LiquidationAmountMin))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.Phone))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.Observations))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.PayinCommission, inputAttribute: "disabled"))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.State, inputAttribute: "disabled"))
		@(Html.ArgumentFor<PaymentConcessionUpdateCommerceArguments>(x => x.FormA, disabled: "arguments.state!==" + (int)ConcessionState.Pending))
	</xp-get>
}



