﻿@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Arguments.Ticket;

@using (Html.xpPopupPost(
	TicketFactory.UserCreateOraName,
	TicketFactory.UserCreateOraApi,
	"",
	//TicketResources.Create
	"resources.ticket.create"
				//arguments: "addressId",
				//init: "scope.arguments.addressId=routeParams.addressId;"
))
{
				@(Html.ArgumentFor<TicketPayOraArguments>(x => x.Name, focus: true))
				@(Html.ArgumentFor<TicketPayOraArguments>(x => x.TaxName))
				@(Html.ArgumentFor<TicketPayOraArguments>(x => x.TaxAddress))
				@(Html.ArgumentFor<TicketPayOraArguments>(x => x.TaxNumber))
				@(Html.SelectFor<TicketPayOraArguments>(x => x.PaymentMediaId, "paymentName", PaymentMediaFactory.RetrieveSelectorApi))
				<div>
								<span ng-hide="arguments.ticketId">
												@(Html.ArgumentFor<TicketPayOraArguments>(x => x.TicketId))
								</span>
								<span ng-hide="arguments.date">
												@(Html.ArgumentFor<TicketPayOraArguments>(x => x.Date))
								</span>
								<span ng-hide="arguments.until">
												@(Html.ArgumentFor<TicketPayOraArguments>(x => x.Until))
								</span>
								<span ng-hide="arguments.amount">
												@(Html.ArgumentFor<TicketPayOraArguments>(x => x.Amount))
								</span>
				</div>

				@*@(Html.ArgumentFor<ServiceAddressNameCreateArguments>(x => x.Name, focus: true))
								@(Html.ArgumentFor<ServiceAddressNameCreateArguments>(x => x.Type))
								<div ng-hide="arguments.addressId">
												@(Html.ArgumentFor<ServiceAddressNameCreateArguments>(x => x.AddressId))
								</div>*@
}