﻿@using PayIn.Application.Dto.Payments.Results.Ticket;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@using Xp.Common.Resources;

@using (Html.xpPopupShow(
	"",
	"",
	//TicketResources.Ticket,
	"resources.ticket.ticket",
	"{{arguments.id}} {{arguments.reference ? '(' + arguments.reference + ')' : ''}}",
	showCancellButton: true
))
{
<xp-get data-api="@TicketFactory.DetailsApi">
	<div class="col-md-4" style="float:left;">
		<img data-ng-show="arguments.fotoUrl" src="{{arguments.supplierFotoUrl}}" style="max-width:160px; margin:30px 0 0 30px;" />
	</div>
	<div class="col-md-4" style="float:right;">
		<img data-ng-show="arguments.state === 1 && arguments.paymentPaid >= arguments.total && arguments.paymentPaid > 0" src="~/Images/logo_pagado.png" style="max-width:70%; margin:60px 0 0 30px;" />
		@*<img data-ng-show="arguments.state === 2" src="~/Images/logo_cancelado.png" style="max-width:70%; margin:60px 0 0 30px;" />*@
	</div>
	<div class="col-md-4" style="float:right;">
		<h1 class="text-center" width:80%"><strong>{{arguments.supplierName}}</strong></h1>
		<p class="text-center">{{arguments.supplierTaxAddress}}</p>
		<p class="text-center"><span translate="resources.ticket.cif">Cif</span> {{arguments.supplierTaxNumber}}</p>
		<p class="text-center" translate="resources.ticket.vatIncluding">VatIncluding</p>
		<p class="text-center">{{arguments.date|xpDateTime}}</p>
		<p class="text-center"><span translate="resources.ticket.attended">Attended</span> {{arguments.workerName}}</p>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>&nbsp;</th>
				<th translate="resources.ticket.title">Title</th>
				<th class="text-right" translate="resources.ticket.amount">Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="icon-column">1</td>
				<td>{{arguments.title}}</td>
				<td class="text-right">{{arguments.amount|number:2}}€</td>
			</tr>
		</tbody>
	</table>
	<h4 class="text-right align-total"><strong translate="resources.ticket.paid">Paid</strong>: {{arguments.payedAmount|number:2}} € / {{arguments.total|number:2}} €</h4>
	<div class="col-md-12">
	<div class="row">
		<div class="col-md-6" style="padding:15px;float:left" ng-repeat="payment in arguments.payments">
			<div class="bg-light pull-left" style="padding:15px;width:100%">
				<table style="table-layout:fixed;width:100%">
					<tbody>
						<tr>
							<td style="padding-right:7px;width:40%;text-align:center" class="text-right h2 font-thin" ng-hide="payment.state===1">{{payment.stateAlias}}</td>
							<td style="padding-right:7px;width:40%;text-align:center" class="text-right h2 font-thin" ng-show="payment.state===1">{{payment.amount|number:2}} €</td>
							<td style="padding-left:7px">
								<div>
									<p>{{payment.taxName}}</p>
									<p>{{payment.numberHash}}</p>
									<p>Id.{{payment.id}} - {{payment.date|xpDateTime}}</p>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</xp-get>
}
