﻿@using PayIn.Application.Dto.Payments.Results.Ticket;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@using (Html.xpList(
	TicketFactory.GetAllName,
	TicketFactory.GetAllApi,
	"",
	//TicketResources.RetrieveAll,
	"resources.ticket.retrieveAll",
	isTitleActive: true,
	init: "scope.arguments.since='" + DateTime.Now.ToString("yyyy-MM-dd") + "';" + "scope.arguments.until='" + DateTime.Now.ToString("yyyy-MM-dd") + "';",
	initialSearch: false

))
{
	<div class="table-responsive" data-ng-controller="TicketGetAllController">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th translate="resources.ticket.date">Date</th>
					<th translate="resources.ticket.id">Id</th>
					<th translate="resources.ticket.reference">Reference</th>
					<th translate="resources.ticket.title">Title</th>
					<th class="text-right" translate="resources.ticket.amount">Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success':item.state===1&&item.payedAmount>=item.amount,'b-l b-5x b-danger':item.state === 2,'b-l b-5x b-warning':item.state===1&&item.payedAmount<item.amount}">
					<td class="datetime-column">@(Html.ColumnFor<TicketGetAllResult>(x => x.Date, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<TicketGetAllResult>(x => x.Id, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<TicketGetAllResult>(x => x.Reference, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<TicketGetAllResult>(x => x.Title, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))</td>
					<td class="text-right">
						@(Html.ColumnFor<TicketGetAllResult>(x => x.PayedAmount, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))€ /
						@(Html.ColumnFor<TicketGetAllResult>(x => x.Amount, popupUrl: TicketFactory.DetailsName, id: "{{item.id}}"))€
					</td>
			</tbody>
		</table>
	</div>
	<footer class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.ticket.paid">Paid</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<div style="background-color:#FAD733;" class="legendGraph" /><p style="float:left;" translate="resources.ticket.notPaid">Not paid</p>
				</div>
				<div class="col-xs-12 col-md-4">
					<div style="background-color:#F05050;" class="legendGraph" /><p style="float:left;" translate="resources.ticket.cancelled">Cancelled</p>
				</div>
			</div>
		</div>
	</footer>
}