﻿@using PayIn.Application.Dto.Arguments;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Common.Dto.Payments.Arguments.Ticket;
@using Xp.Common;
@using (Html.xpPost(
	TicketFactory.UpdateName,
	TicketFactory.UpdateApi,
	"",
	//TicketResources.Update,
	"resources.ticket.update",
	isTitleActive: true
))
{
	@(Html.ArgumentFor<TicketUpdateArguments>(x => x.Title, focus: true))
	@(Html.ArgumentFor<TicketUpdateArguments>(x => x.Reference))
	@(Html.ArgumentFor<TicketUpdateArguments>(x => x.Amount))
	@(Html.ArgumentFor<TicketUpdateArguments>(x => x.Date))
	@(Html.ArgumentFor<TicketUpdateArguments>(x => x.State))
}
