﻿@using PayIn.Application.Dto.Results.TicketDetail;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@using (Html.xpPut(
	TicketFactory.TicketUpdateDetailName,
	TicketFactory.TicketUpdateDetailApi,
	"",
	//TicketResources.Update,
	"resources.ticket.update",
	isTitleActive: true
))
{
	<xp-get data-api="@TicketFactory.UrlDetailApi">
		@(Html.ArgumentFor<TicketDetailGetResult>(x => x.Reference))
		@(Html.ArgumentFor<TicketDetailGetResult>(x => x.Article))
		@(Html.ArgumentFor<TicketDetailGetResult>(x => x.Price))
		@(Html.ArgumentFor<TicketDetailGetResult>(x => x.Quantity))
		@(Html.ArgumentFor<TicketDetailGetResult>(x => x.Vat))
	</xp-get>
}