﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	ControlItemFactory.Delete,
	ControlItemFactory.DeleteApi,
	"",
	//ControlItemResources.Delete,
	"resources.controlItem.delete",
	id: "id"
))
{
	<p translate="resources.controlItem.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete the Item {{arguments.name}}?</p>
}

