﻿@using PayIn.Common.Resources;
@using System.Reflection;
@using System.Linq.Expressions;
@using System.Reflection;
@using System.Web.Mvc;
@using Xp.Common;
@using Xp.Common.Resources;

@helper _Validations(System.Web.Mvc.HtmlHelper html, PropertyInfo field)
{
	var name = field.GetName();
	var alias = field.GetAlias();
	

	if (field.IsRequired())
	{
		<div ng-show="form.@name.$error.required"><span class="error control-label" translate="@alias">alias</span> <span class="error control-label" translate="resources.globalResources.exceptionRequired">exceptionRequired</span></div>
	}
	if ((field.GetMaxLength() != null) && (field.GetMinLength() == null))
	{ // Max
		<div ng-show="form.@name.$error.maxlength"><span class="error control-label" translate="@alias">@alias</span><span translate="resources.globalResources.exceptionMaximumLength">exceptionMaximumLength</span></div>
	}
	if ((field.GetMaxLength() != null) && (field.GetMinLength() != null))
	{ // Max
		<div ng-show="form.@name.$error.minlength"><span class="error control-label" translate="@alias">alias</span><span translate="resources.globalResources.exceptionMaximumLength">exceptionMaximumLength</span></div>
	}
	if (field.GetCompareProperty() != null)
	{
		<div ng-show="form.@name.$error.match"><span class="error control-label" translte="@alias">alias</span><span translate="resources.globalResources.exceptionCompare">exceptionCompare</span></div>
	}
	if (!field.GetPattern().IsNullOrEmpty())
	{
		<div ng-show="form.@name.$error.pattern"><span class="error control-label" translate="@alias">alias</span><span translate="resources.globalResources.exceptionPattern">exceptionPattern</span></div>
	}
}
@helper Argument(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	var name = field.GetName();
	var alias = field.GetAlias();
	var xpType = field.GetXpType();

	var divClass_ = width == null ?
		"form-group" :
		string.Format("form-group col-md-{0}", width);

<div data-ng-class="{'has-error':!form.@name.$valid}" class='@divClass_'>
@if (!isPlaceHolder && (xpType != XpType.Bool) && (xpType != XpType.Enum))
{
	<label for="@name" class="control-label" translate="@alias">alias</label>
}
@if (xpType == XpType.Enum)
{
	@_ArgumentControl_Enum(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Time)
{
	@_ArgumentControl_Time(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Duration)
{
	@_ArgumentControl_Duration(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Date)
{
	@_ArgumentControl_Date(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.DateTime)
{
	@_ArgumentControl_DateTime(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Decimal)
{
	@_ArgumentControl_Decimal(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Currency)
{
	@_ArgumentControl_Currency(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.Bool)
{
	@_ArgumentControl_Bool(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else if (xpType == XpType.File)
{
	@_ArgumentControl_File(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
else
{
	@_ArgumentControl(html, field, fieldUrl, width, isPlaceHolder, focus, disabled, fileAutosave, inputHtmlAttribute, placeHolder, showAll).AddTabs(1)
}
@_Validations(html, field).AddTabs(1)
</div>
}
@helper _ArgumentControl_Enum(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var nameLabel = alias + name;
	var placeholder_ =
		!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
		isPlaceHolder ? "placeholder=" + alias :
										 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	var enumerator = field.GetEnum();
	if (enumerator != null)
	{
		<label for="@name" class="control-label" translate="@nameLabel">nameLabel</label>

		<select id="@name" name="@name" class="form-control" data-ng-model="arguments.@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute>
			@if (showAll == true)
			{
				<option value="0" translate="resources.globalResources.all">All</option>
			}
			@foreach (var item in enumerator.GetFields().Where(x => !x.IsSpecialName))
			{
				var optionTranslate = alias + item.Name;
				//<option value="@((int)item.GetValue(null))">@item.ToEnumAlias()</option>
				<option value="@((int)item.GetValue(null))" translate="@optionTranslate">item</option>
			}
		</select>
	}
}
@helper _ArgumentControl_Time(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<div class='input-group date' data-xp-time="arguments.@name">
		<input data-ng-model="value" id="@name" name="@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute type='text' class="form-control" />
		<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
	</div>
}
@helper _ArgumentControl_DateTime(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// Inplementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<div class="input-group date" data-xp-date-time="arguments.@name">
		<input data-ng-model="value" id="@name" name="@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute type="text" class="form-control" />
		@if (!field.IsRequired())
		{
			<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
		}
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
}
@helper _ArgumentControl_Duration(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<div class='input-group date' data-xp-duration="arguments.@name">
		<input data-ng-model="arguments.@name" id="@name" name="@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute type='text' class="form-control" />
		<span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
	</div>
}
@helper _ArgumentControl_Date(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<div class='input-group date' data-xp-date="arguments.@name">
		<input data-ng-model="arguments.@name" id="@name" name="@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute type='text' class="form-control" />
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
}
@helper _ArgumentControl_Decimal(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<input id="@name" name="@name" type="text" class="form-control" data-ng-model="arguments.@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute data-step="0.000001" data-min="-180" data-max="1000" data-decimals="6" ui-jq="TouchSpin" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
}
@helper _ArgumentControl_Currency(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputHtmlAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeholder_ =
	!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
	isPlaceHolder ? "placeholder=" + alias :
																 "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<input id="@name" name="@name" type="text" class="form-control" data-ng-model="arguments.@name" @placeholder_ @focus_ @validationHtmlAttributes @inputHtmlAttribute data-prefix="EUR" ui-jq="TouchSpin" data-verticalbuttons="true" data-verticalupclass="fa fa-caret-up" data-verticaldownclass="fa fa-caret-down">
}
@helper _ArgumentControl_Bool(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var placeHolder_ =
		!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
			isPlaceHolder ? "placeholder=" + alias : "";
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();

	<label class="i-checks">
		<input id="@name" name="@name" type="checkbox" class="form-control" data-ng-model="arguments.@name" @placeHolder_ @focus_ @validationHtmlAttributes />
		<i></i>
		<span translate="@alias" style="margin-left:0px;">alias</span>
	</label>
}
@helper _ArgumentControl_File(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var name = field.GetName();
	var alias = field.GetAlias();
	var inputClass = field.GetInputClass();
	var inputClass_ = string.Format("form-control filestyle {0}", inputClass);
	var placeHolder_ =
		!placeHolder.IsNullOrEmpty() ? "placeholder=" + placeHolder :
		isPlaceHolder ? "placeholder=" + alias :
		"";
	var inputModel = "data-ng-model=" + string.Format("files.{0}", name);
	var focus_ = !focus ? "" : "autofocus";
	var validationHtmlAttributes = field.GetValidationHtmlAttributes();
	var inputAttributes = inputAttribute + " " + field.GetInputAttributes();
	var disabled_ = 
		!disabled.IsNullOrEmpty() ? "ng-disabled=" + disabled :
		"";

	<div data-xp-zip="@name">
		@*<input id="@name" name="@name" class="@inputClass_" valid-file	 @inputModel icon-name="" type="file" data-buttontext="" text="false" data-classbutton="btn btn-default" @disabled_ @inputAttributes @placeHolder_ @validationHtmlAttributes>*@
		<input id="@name" name="@name" class="@inputClass_" valid-file @inputModel icon-name="" type="file" data-buttontext="" text="false" data-classbutton="btn btn-default" @disabled_ @inputAttributes @placeHolder_ @validationHtmlAttributes>
		<div id="downloadFile" class="btn btn-default form-button" ng-disabled="!arguments.formUrl">
			<a class="icon-span-filestyle glyphicon glyphicon-save" ng-href="{{arguments.formUrl}}"></a>
			<span class="buttonText"></span>
		</div>
	</div>
}
@helper _ArgumentControl(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string disabled, string fileAutosave, string inputAttribute, string placeHolder, bool showAll)
{
	// implementar disabled
	var imgModel = fieldUrl.IsNullOrEmpty() ? "http://placehold.it/200x150&text=Sin+Imagen" : string.Format("{{{{arguments.{0}}}}}", fieldUrl);

	var name = field.GetName();
	var alias = field.GetAlias();
	var postHtml = field.GetPostHtml();
	var inputAttributes = field.GetInputAttributes() + (
		fileAutosave.IsNullOrEmpty() ? "" :
		"data-xp-autofile=" + fileAutosave);
	var inputType = field.GetInputType();
	var inputClass = field.GetInputClass();
	var inputName = name;
	var model =
		!fileAutosave.IsNullOrEmpty() ? string.Format("autofiles.{0}", name) :
		inputType == "file" ? string.Format("files.{0}", name) :
		string.Format("arguments.{0}", name);
	var inputModel = "ng-model=" + model;
	var placeholder_ = !isPlaceHolder ? "" : "placeholder=" + alias;
	var focus_ = !focus ? "" : "autofocus";
	var inputClass_ = string.Format("form-control {0}", inputClass);
	var enumerator = field.GetEnum();	
	if (enumerator != null)
	{
		<select id="@inputName" name="@name" class="form-control @inputClass_" @inputModel @placeholder_ @focus_ @Html.Raw(inputAttributes) placeholder="@placeHolder">
			if (!field.PropertyType.IsEnum)
			@if (@showAll == true)
			{
				<option value="0" translate="resources.globalResources.all">All</option>
			}
			@foreach (var item in enumerator.GetFields().Where(x => !x.IsSpecialName))
			{   
				var optionTranslate=alias+item.ToEnumAlias();
				<option value="@((int)item.GetValue(null))">@item.ToEnumAlias()</option>
				//<option value="@((int)item.GetValue(null))" translate="@optionTranslate">item</option>


			}
		</select>
	}
	else
	{
		<input id="@inputName" name="@name" type=@inputType class="@inputClass_" @inputModel @placeholder_ @focus_ @inputAttributes @inputAttribute placeholder="@placeHolder" />
	}
	@*@html.Raw(postHtml)*@
}
@helper Select(System.Web.Mvc.HtmlHelper html, PropertyInfo field, string modelAlias, string api, string fieldUrl, int? width, bool isPlaceHolder, bool focus, string fileAutosave, string arguments, string placeHolder)
{
	var name = field.GetName();
	var alias = field.GetAlias();
	var postHtml = field.GetPostHtml();
	var inputAttributes = field.GetInputAttributes() + (
		fileAutosave.IsNullOrEmpty() ? "" :
		"data-xp-autofile=" + fileAutosave);
	var inputType = field.GetInputType();

	var id_ = "id=\"" + name + "\"";
	var collection = string.Format("argumentSelect.{0}.items", name);
	var itemClick = string.Format("argumentSelect.{0}.itemClick(item)", name);

	var mapping = string.Format("arguments.{0}=item.id;arguments.{1}=item.value;", name, modelAlias);
	var listAlias = "{{item.value}}";
	var modelId_ = string.Format("arguments.{0}", name);
	var modelAlias_ = string.Format("arguments.{0}", modelAlias);
	var placeholder_ = !isPlaceHolder ? "" : "placeholder=" + alias;
	var focus_ = !focus ? "" : "autofocus";

	var divClass_ = width == null ?
		"form-group" :
		string.Format("form-group col-md-{0}", width);
	var argumentPath = string.Format("form.{0}", name);
	var errorClass =
		inputType == "file" ? "" : "data-ng-class={'has-error':!" + argumentPath + ".$valid}";

		<div @errorClass class='@divClass_'>
			<label for="@name" class="control-label" translate="@alias">alias</label>
			<input @id_ name="@name" type=@inputType class="form-control" data-xp-typeahead="@name" data-ng-model="@modelAlias_" data-api="@api" data-relation="@mapping" data-arguments="@arguments" @placeholder_ @focus_ @inputAttributes placeholder="@placeHolder" />
			<ul class="typeahead dropdown-menu">
				<li ng-repeat="item in @collection">
					<a ng-click="@itemClick">@listAlias</a>
				</li>
			</ul>
			@html.Raw(postHtml)
		</div>
}
