﻿@using PayIn.Web;
@using PayIn.Common.Resources;
@using Xp.Common.Resources;
@using Xp.Common;
@using PayIn.Web.App.Factories;

@helper _xpTitle(string title, string subtitle, bool isTitleActive, bool showSpinner, bool isHeaderActive)
{
<!-- Title -->
<div class="bg-light lter b-b wrapper-md">
@if (isHeaderActive)
{
	<h1 class="m-n font-thin h3">
@if (showSpinner)
{
		<!-- Spinner -->
		<i class="fa fa-spinner fa-spin pull-right" data-ng-show="windowState().isBusy"></i>
		<!-- /Spinner -->
}

@if (isTitleActive)
{
		<!-- Name -->
	
	
	<span translate="@title">title</span>	
	<small class="xp-subtitle">@subtitle</small>
		<!-- /Name -->
}
	</h1>
}
</div>
<!-- /Title -->
}
@helper _xpErrors()
{
<div class="alert alert-block alert-danger fade in ng-hide" data-ng-show="errors.length" data-ng-cloak>
	@*<button data-dismiss="alert" class="close close-sm" type="button">*@
	<button class="close close-sm" type="button" data-ng-click="clearErrors()">
		<i class="@XpIcons.Remove"></i>
	</button>
	<ul>
		<li ng-style="$first ? {'list-style-type':'none','margin-left':'-36px'} : { }" data-ng-repeat="error in errors">{{error}}</li>
	</ul>
</div>
}
@helper _xpActionArgs(IEnumerable<ActionLink> actions)
{
	if (actions == null)
	{
		return;
	}
<!-- Auxiliar -->
<div class=" navbar-right btn-group">

	@foreach (var item in actions)
	{
		var show = item.Show.IsNullOrEmpty() ? "" : "data-ng-show=" + item.Show;
		var id = item.Id.IsNullOrEmpty() ? "" : "data-xp-id=" + item.Id;
		var arguments = item.Arguments.IsNullOrEmpty() ? "" : "data-xp-arguments=" + item.Arguments;
		var class_ = item.Class.IsNullOrEmpty() ? "" : item.Class;
		
		if (item.Type == ActionLink.ActionLinkType.Panel) {
	<a class='@class_' data-ui-sref="@item.Source" @show data-xp-navigate><i class="@item.Icon"></i>@item.Text</a>
		} else if (item.Type == ActionLink.ActionLinkType.Popup) {
	<a class='@class_' data-xp-modal="@item.Source" @show data-xp-navigate data-toggle="modal" href @id @arguments><i class="@item.Icon"></i>@item.Text</a>
		} else if (item.Type == ActionLink.ActionLinkType.Csv) {
	<a class='@class_' data-ng-href="@item.Source" @show data-xp-navigate><i class="@item.Icon"></i>@item.Text</a>
		}
	}
</div>
<!-- /Auxiliar -->
}
@helper _xpListArgs(string name, bool isPaginable, bool isSearchable, string addPanelUrl, string addPopupUrl, string addArguments, string csvUrl, IEnumerable<ActionLink> actions)
{
	var arguments_ = addArguments.IsNullOrEmpty() ? "" : string.Format("data-xp-arguments={0}", addArguments);

	if ((name == "controltrackgetitem"))
	{
<div class="nav navbar-left btn-group form-inline">
	<div class="form-group">
		<div class="input-group date ng-scope" data-xp-date="date">
			<input data-ng-model="arguments.date" id="date" name="date" required type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
	</div>
	<select class="form-control" data-ng-model="arguments.trackId" placeholder="Todos" data-ng-show="data.length>1||arguments.trackId">
		<option value="" translate="resources.globalResources.all">All</option>
		<option data-ng-repeat="item in temp.trackEnum" value="{{item.id}}">{{item.since.date|xpDateTime}} - {{item.until.date|xpDateTime}} ({{item.workerName}})</option>
	</select>
</div>
	}
	else if (name == "controltrackgetall") 
	{
	<div class="nav navbar-left btn-group form-inline">
		<div class="form-group">
			<div class="input-group date ng-scope" data-xp-date="date">
				<input data-ng-model="arguments.date" id="date" name="date" type="text" class="form-control">
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>
		<div class='form-group'>
			<input data-ng-model="arguments.workerName" id="workerId" name="workerId" type=text class="form-control" data-xp-typeahead="workerId" data-api="/Api/ServiceWorker/Selector" data-relation="arguments.workerId=item.id;arguments.workerName=item.value;" placeholder='@ServiceWorkerResources.Worker' />
			<ul class="typeahead dropdown-menu">
				<li ng-repeat="item in argumentSelect.workerId.items">
					<a ng-click="argumentSelect.workerId.itemClick(item)">{{item.value}}</a>
				</li>
			</ul>
		</div>
		<div class='form-group'>
			<input data-ng-model="arguments.itemName" id="itemId" name="itemId" type=text class="form-control" data-xp-typeahead="itemId" data-api="/Api/ControlItem/Selector" data-relation="arguments.itemId=item.id;arguments.itemName=item.value;" placeholder='@ControlItemResources.Item' />
			<ul class="typeahead dropdown-menu">
				<li ng-repeat="item in argumentSelect.itemId.items">
					<a ng-click="argumentSelect.itemId.itemClick(item)">{{item.value}}</a>
				</li>
			</ul>
		</div>
	</div>
	}

	else if (name == "controltrackgetview")
	{
		<div class="nav navbar-left btn-group form-inline">
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date-time="start">
					<input data-ng-model="arguments.start" id="start" name="start" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date-time="end">
					<input data-ng-model="arguments.end" id="end" name="end" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
	}
	else if (name == "controlpresencegethours" || name == "paymentgetall" || name == "ticketgetall" || name == "liquidationgetall" || name == "liquidationpay" || name == "paymentgetcharges")
	{
		<div class="nav navbar-left btn-group form-inline">
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date="since">
					<input data-ng-model="arguments.since" id="since" name="since" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date="until">
					<input data-ng-model="arguments.until" id="until" name="until" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
		</div>
	}

	else if ((name == "ticketgraph") || (name =="paymentgraph"))
	{
		<div class="nav navbar-left btn-group form-inline">
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date="since">
					<input data-ng-model="arguments.since" id="since" name="since" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group date ng-scope" data-xp-date="until">
					<input data-ng-model="arguments.until" id="until" name="until" type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
				</div>
			</div>			
		</div>
	}
	if (isSearchable)
	{
<!-- Search -->
<div class="nav navbar-right">
	<form name="form" role="search" ng-submit="search()" style="width: 250px;" novalidate>
		<div class="input-group">
			<input type="text" class="input-sm form-control" placeholder="@GlobalResources.Search" data-ng-model="arguments.filter" autofocus>
			<span class="input-group-btn">
				<button type="submit" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Buscar">
					<span class="glyphicon glyphicon-search"></span>
				</button>
				<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="Limpiar" ng-click="clean();">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>
	</form>
</div>
<!-- /Search -->
	}
	
<!-- Auxiliar -->
<div class="nav navbar-right btn-group">
@if (!string.IsNullOrEmpty(addPopupUrl))
{
	<!-- AddPopup -->
	<a href="@addPopupUrl" data-toggle="modal" @arguments_ data-xp-navigate><i class="glyphicon glyphicon-plus"></i></a>
	<!-- /AddPopup -->
}
@if (!string.IsNullOrEmpty(addPanelUrl))
{
	<!-- AddPanel -->
	<a data-ui-sref="@addPanelUrl" @arguments_ data-xp-navigate><i class="glyphicon glyphicon-plus"></i></a>
	<!-- /AddPanel -->
}
@if (!string.IsNullOrEmpty(csvUrl))
{
	<!-- CSV -->
	<a href="@csvUrl" @arguments_ data-xp-navigate><i class="glyphicon glyphicon-save"></i></a>
	<!-- /CSV -->
}
@_xpActionArgs(actions)
@*@if (isPaginable)
{
	<!-- Pagination -->
	<div class="btn-group" data-ng-show="numPages() | xpMore: 1">
		<!-- First -->
		<button type="button" class="btn btn-default" data-ng-show="currentPage() | xpMore: 3" data-ng-click="loadPage(1)">1</button>
		<button type="button" class="btn btn-default disabled" data-ng-show="currentPage() | xpMore: 4">...</button>
		<!-- Previous -->
		<button type="button" class="btn btn-default" data-ng-show="currentPage() | xpMore: 2" data-ng-click="loadPage(currentPage() - 2)">{{currentPage() - 2}}</button>
		<button type="button" class="btn btn-default" data-ng-show="currentPage() | xpMore: 1" data-ng-click="loadPage(currentPage() - 1)">{{currentPage() - 1}}</button>
		<!-- Current -->
		<button type="button" class="btn btn-default active">{{currentPage()}}</button>
		<!-- Next -->
		<button type="button" class="btn btn-default" data-ng-show="currentPage() - numPages() | xpLess: - 1" data-ng-click="loadPage(currentPage() + 1)">{{currentPage() + 1}}</button>
		<button type="button" class="btn btn-default" data-ng-show="currentPage() - numPages() | xpLess: - 2" data-ng-click="loadPage(currentPage() + 2)">{{currentPage() + 2}}</button>
		<!-- Last -->
		<button type="button" class="btn btn-default disabled" data-ng-show="currentPage() - numPages() | xpLess: - 4">...</button>
		<button type="button" class="btn btn-default" data-ng-show="currentPage() - numPages() | xpLess: - 3" data-ng-click="loadPage(numPages())">{{numPages()}}</button>
	</div>
	<!-- /Pagination -->
}*@
</div>
<!-- /Auxiliar -->
}

@helper _xpList(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string cancelText, bool isPaginable, bool isSearchable, bool isTitleActive, bool showSpinner, bool showFormButtons, string addPanelUrl, string addPopupUrl, string addArguments, string init, bool isHeaderActive, bool isBreadcrumbActive, string csvUrl, IEnumerable<ActionLink> actions, bool initialSearch,string cardBeforePage, string previous, string success)
{
	cancelText = cancelText ?? GlobalResources.Back;
	var _isPaginable = isPaginable ? "data-is-paginable" : "";
	var _initialSearch = initialSearch ? "data-initial-search" : "";

<!-- @name -->
<div class="fade-in">
	<div data-xp-panel data-xp-panel-title=@title>
@_xpTitle(title, subtitle, isTitleActive, showSpinner, isHeaderActive).AddTabs(2)
		<div class="wrapper-md">
			<xp-list id="@name" data-api="@apiUrl" data-cache="@cache" data-xp-init="@init" @_isPaginable @_initialSearch data-xp-previous="@previous" data-xp-success="@success" >
				<div class="row">
					@*@if (cardBeforePage != null) {@RenderPage(cardBeforePage)}*@
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="nav dataTables_wrapper">
@_xpListArgs(name, isPaginable, isSearchable, addPanelUrl, addPopupUrl, addArguments, csvUrl, actions).AddTabs(9)
								</div>
@_xpErrors().AddTabs(8)
								<div>
									<!-- Body -->
									<!-- UsingBody -->
									<!-- /Body -->
								</div>
							 	@if (showFormButtons != false)
								{
									<div class="btn-toolbar pull-right">
										<button class="btn btn-default" type="reset" ng-click="cancel()" translate="resources.globalResources.back">CancelText</button>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</xp-list>
		</div>
	</div>
</div>
<!-- /@name -->
}
@helper _xpPopupPut(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string arguments, string init, string acceptText, string previous, string success)
{
	//var id_ = id.IsNullOrEmpty() ? "" : string.Format("data-xp-id={0}", id);
	var arguments_ = arguments.IsNullOrEmpty() ? "" : string.Format("data-xp-arguments={0}", arguments);
	acceptText = acceptText ?? GlobalResources.Ok;
	
<!-- @name -->
<div id="@name" data-xp-popup data-xp-title=@title>
	<xp-put data-api="@apiUrl" data-xp-init="@init" data-xp-previous="@previous" data-xp-success="@success">
		<form name="form" role="form" class="form" data-ng-submit="accept()" novalidate>
			<div class="modal-header">
				<h3 class="modal-title" translate="@title">title<small class="xp-subtitle">@subtitle</small></h3>
			</div>
			<div class="modal-body">
				@_xpErrors().AddTabs(4)
				<fieldset ng-disabled="windowState().isReadOnly">
					<!-- UsingBody -->
				</fieldset>
			</div>
			<div class="modal-footer">
				<img src="~/App/spinner.gif" style="margin: 2px 5px 0 0" data-ng-show="windowState().isBusy" />
				<button type="button" class="btn btn-default" data-ng-click="cancel()" data-dismiss="modal" translate="resources.globalResources.cancel">Cancel</button>
				<button type="submit" class="btn btn-success" data-ng-disabled="form.$invalid" translate="resources.globalResources.ok">Ok</button>
			</div>
		</form>
	</xp-put>
</div>
<!-- /@name -->
}
@helper _xpPut(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string arguments, string init, string acceptText, string cancelText, bool isTitleActive, bool showSpinner, bool showFormButtons, bool isHeaderActive, bool isBreadcrumbActive, IEnumerable<ActionLink> actions, string previous, string success, string successPopup)
{
	acceptText = acceptText ?? GlobalResources.Ok;
	cancelText = cancelText ?? GlobalResources.Cancel;
	var SuccessModal_ = successPopup.IsNullOrEmpty() ? "" : "data-xp-modal=" + HomeFactory.Popup; 

<!-- @name -->
<div class="fade-in">
	<div data-xp-panel data-xp-panel-title=@title>
@_xpTitle(title, subtitle, isTitleActive, showSpinner, isHeaderActive).AddTabs(2)
		<div class="wrapper-md">
			<xp-put id="@name" data-api="@apiUrl" data-cache="@cache" data-xp-init="@init" data-xp-previous="@previous" data-xp-success="@success" @SuccessModal_ data-xp-arguments="@successPopup">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div id="panel-body" class="panel-body">
								<div class="nav dataTables_wrapper">
									@_xpActionArgs(actions).AddTabs(9)
								</div>
								<form name="form" role="form" class="form" ng-submit="accept()" novalidate>
									@_xpErrors().AddTabs(9)
									<div class="row">
										<!-- Body -->
										<!-- UsingBody -->
										<!-- /Body -->
									</div>
									@if (showFormButtons)
									{
										<div class="btn-toolbar pull-right">
											<button class="btn btn-default" type="reset" ng-click="cancel()" translate="resources.globalResources.cancel">Cancel Text</button>
											<button class="btn btn-success" type="submit" ng-disabled="form.$invalid" translate="resources.globalResources.ok">Ok</button>
										</div>
									}
								</form>
							</div>
						</div>
					</div>
				</div>
			</xp-put>
		</div>
	</div>
</div>
<!-- /@name -->
}
@helper _xpPopupPost(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string arguments, string init, string acceptText, string previous)
{
	acceptText = acceptText ?? GlobalResources.Ok;
	var arguments_ = arguments.IsNullOrEmpty() ? "" : string.Format("data-xp-arguments={0}", arguments);

	<!--	@name -->
	<div>
		<div data-xp-popup class="modal fade in" id="@name" role="dialog" @arguments_ tabindex="-1">
			<xp-post data-api="@apiUrl" data-xp-init="@init" data-xp-previous="@previous">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
							<h4 class="modal-title" translate="@title">title<small class="xp-subtitle">@subtitle</small></h4>
						</div>
						<form name="form" role="form" class="form" ng-submit="accept()" novalidate>
							<div class="modal-body">
								@_xpErrors().AddTabs(6)
								<fieldset ng-disabled="windowState().isReadOnly">
									<!-- UsingBody -->
								</fieldset>
							</div>
							<div class="modal-footer">
								<img src="~/App/spinner.gif" style="margin: 2px 5px 0 0" data-ng-show="windowState().isBusy" />
								<button class="btn btn-success" type="submit" ng-disabled="form.$invalid" translate="resources.globalResources.ok">Ok</button>
							</div>
						</form>
					</div>
				</div>
			</xp-post>
		</div>
	</div>
<!-- /@name -->
}
@helper _xpPost(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string arguments, string init, string acceptText, string cancelText, bool isTitleActive, bool showSpinner, bool showFormButtons, bool isHeaderActive, bool isBreadcrumbActive, string previous, string success, string successUrl, string successPopup)
{
	acceptText = acceptText ?? GlobalResources.Ok;
	cancelText = cancelText ?? GlobalResources.Cancel;
	var SuccessModal_ = successPopup.IsNullOrEmpty() ? "" : "data-xp-modal=" + HomeFactory.Popup; 
	
<!-- @name -->
<div class="fade-in">
	<div data-xp-panel data-xp-title=@title>
@_xpTitle(title, subtitle, isTitleActive, showSpinner, isHeaderActive).AddTabs(2)
		<div class="wrapper-md">
			<xp-post id="@name" data-api="@apiUrl" data-cache="@cache" data-xp-init="@init" data-xp-previous="@previous" data-xp-success="@success" data-xp-success-url="@successUrl" @SuccessModal_ data-xp-arguments="@successPopup">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div id="panel-body" class="panel-body">
								<form name="form" role="form" class="form" ng-submit="accept()" novalidate>
									@_xpErrors().AddTabs(9)
									<div class="row">
										<!-- UsingBody -->
									</div>
									@if (showFormButtons)
									{
										<div class="btn-toolbar pull-right">
											<button class="btn btn-default" type="reset" ng-click="cancel()" translate="resources.globalResources.cancel">cancel</button>
											<button class="btn btn-success" type="submit" ng-disabled="form.$invalid" translate="resources.globalResources.ok">ok</button>
										</div>
									}
								</form>
							</div>
						</div>
					</div>
				</div>
			</xp-post>
		</div>
	</div>
</div>
<!-- /@name -->
}
@helper _xpPopupDelete(string name, string apiUrl, string classIcon, string title, string subtitle, string cache, string id, string arguments, string init, string previous, string success, string successUrl, string successPopup)
{
	var id_ = id.IsNullOrEmpty() ? "" : string.Format("data-xp-id={0}", id);
	var arguments_ = arguments.IsNullOrEmpty() ? "" : string.Format("data-xp-arguments={0}", arguments);
	var SuccessModal_ = successPopup.IsNullOrEmpty() ? "" : "data-xp-modal=" + HomeFactory.Popup; 
	
<!-- @name -->
<div id="@name" data-xp-popup data-xp-title=@title>
	<xp-delete data-api="@apiUrl" data-xp-init="@init" data-xp-previous="@previous" data-xp-success="@success" data-xp-success-url="@successUrl" @SuccessModal_ data-xp-arguments="@successPopup">
		<form name="form" role="form" class="form" data-ng-submit="accept()" novalidate>
			<div class="modal-header">
				<h3 class="modal-title" translate="@title">title<small class="xp-subtitle">@subtitle</small></h3>
			</div>
			<div class="modal-body">
				@_xpErrors().AddTabs(4)
				<fieldset data-ng-disabled="windowState().isReadOnly">
					<!-- UsingBody -->
				</fieldset>
			</div>
			<div class="modal-footer">
				<img src="~/App/spinner.gif" style="margin: 2px 5px 0 0" data-ng-show="windowState().isBusy" />
				<button type="button" class="btn btn-default" data-ng-click="cancel()" data-dismiss="modal" translate="resources.globalResources.cancel">Cancel</button>
				<button type="submit" class="btn btn-success" data-ng-disabled="form.$invalid" translate="resources.globalResources.ok">Ok</button>
			</div>
		</form>
	</xp-delete>
</div>
<!-- /@name -->
}
@helper _xpPopupShow(string name, string classIcon, string title, string subtitle, string cache, string id, string arguments, bool showCancellButton, string cancelText, string init, string acceptText)
{
	var arguments_ = arguments.IsNullOrEmpty() ? "" : string.Format("data-xp-arguments={0}", arguments);
	acceptText = acceptText ?? GlobalResources.Ok;
	cancelText = cancelText ?? GlobalResources.Close;

	<!-- @name -->
	<div id="@name" data-xp-popup data-xp-title=@title>
			<form name="form" role="form" class="form" data-ng-submit="accept()" novalidate>
				<div class="modal-header">
					<h3 class="modal-title" translate="@title">title<small class="xp-subtitle">@subtitle</small></h3>
				</div>
				<div class="modal-body">
					@_xpErrors().AddTabs(4)
					<fieldset ng-disabled="windowState().isReadOnly">
						<!-- UsingBody -->
						@if (showCancellButton != false)
						{
							<div class="btn-toolbar pull-right">
								<button class="btn btn-default" type="reset" ng-click="cancel()"  translate="resources.globalResources.close">close</button>
							</div>
						}
					</fieldset>
				</div>
			</form>
	</div>
	<!-- /@name -->
}