﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Payments.Arguments.Liquidation;

@using (Html.xpPopupPut(
	LiquidationFactory.LiquidationConfirmUnpayName,
	LiquidationFactory.LiquidationConfirmUnpayApi,
	"",
	//LiquidationResources.ConfirmUnpay
	"resources.liquidation.confirmUnpay"
))
{
	<h4 translate="resources.liquidation.confirmUnpayQuestion" translate-values="{ total: '{{arguments.total}}' }"> Do you want to cancel the liquidation payment with the total of {{arguments.total}} € ?</h4>
}
