﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Payments.Arguments.Liquidation;

@using (Html.xpPopupPut(
	LiquidationFactory.LiquidationConfirmPayName,
	LiquidationFactory.LiquidationConfirmPayApi,
	"",
	//LiquidationResources.ConfirmPay
	"resources.liquidation.confirmPay"
))
{
	<h4 translate="resources.liquidation.confirmPayQuestion" translate-values="{ total: '{{arguments.total}}' }">Do you want to confirm the liquidation payment with the total of {{arguments.total}} € ?</h4>
}
