﻿@using PayIn.Application.Dto.Payments.Results.Liquidation;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;
@{
	var payments = PaymentFactory.LiquidationPaymentsState("{{item.id}}");

	var init = "scope.arguments.since='" + DateTime.Now.ToString("yyyy-MM-dd") + "';"
		   + "scope.arguments.until='" + DateTime.Now.ToString("yyyy-MM-dd") + "';";
}

<!-- @*@LiquidationFactory.GetAllName *@-->
<div class="fade-in">
	<div data-xp-panel data-xp-panel-title="resources.liquidation.liquidations">
		@XpHelpers._xpTitle("resources.liquidation.liquidations", "", true, true, true).AddTabs(2)
		<div class="wrapper-md">
			<xp-list id="@LiquidationFactory.GetAllName" data-api="@LiquidationFactory.GetAllApi" data-cache="" data-xp-init="@init" data-xp-previous data-xp-success>
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								@XpHelpers._xpListArgs(null, false, false, "", "", "", "", new ActionLink[] {
	new ActionLink(ActionLink.ActionLinkType.Popup, LiquidationFactory.LiquidationChangeName, XpIcons.Lock,arguments:"{\"total\":\"{{arguments.total}}\",\"since\":\"{{arguments.liquidationSince}}\"}",show: "arguments.dateExists==false&&arguments.total>0"),
	new ActionLink(ActionLink.ActionLinkType.Popup, LiquidationFactory.LiquidationOpenName, XpIcons.Unlock,arguments:"{\"total\":\"{{arguments.total}}\",\"since\":\"{{arguments.liquidationSince}}\"}",show: "arguments.dateExists==true"),
	new ActionLink(ActionLink.ActionLinkType.Panel, PaymentFactory.LiquidationPaymentsName, XpIcons.Money,text:"{{arguments.paymentsCount}}")
}).AddTabs(9)
								<h3 style="margin-top:0px" translate="resources.liquidation.pendingLiquidate">Pending to Liquidate</h3>
								<strong style="font-size:17px" translate="resources.liquidation.since">Since</strong>:<span style="font-size:17px">&nbsp;{{arguments.liquidationSince|xpDate}}</span>
								<div style="float:right">
									<table style="font-size:17px">
										<tbody>
											<tr>
												<td class="pull-right"><strong>{{arguments.amount|number:2}}€</strong></td>
												<td>&nbsp;&nbsp;<span translate="resources.liquidation.amount">amount</span></td>
											</tr>
											<tr>
												<td class="pull-right"><strong>- {{arguments.payin|number:2}}€</strong></td>
												<td>&nbsp;&nbsp;<span translate="resources.liquidation.payin"> payin</span></td>
											</tr>
											<tr>
												<td style="border-top:1px solid #000;" class="pull-right"><strong>{{arguments.total|number:2}}€</strong></td>
												<td style="border-top:1px solid #000">&nbsp;&nbsp;<span translate="resources.liquidation.total">Total </span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="nav dataTables_wrapper">
									@XpHelpers._xpListArgs(@LiquidationFactory.GetAllName, false, false, "", "", "", "", null).AddTabs(9)
								</div>
								@XpHelpers._xpErrors().AddTabs(8)
								<div>
									<!-- Body -->
									<div class="table-responsive" data-ng-controller="LiquidationGetAllController">
										<table class="table table-hover" ng-show="data.length" style="margin-top:70px" col-md-12>
											<thead>
												<tr>
													<th translate="resources.liquidation.startDate">StartDate</th>
													<th translate="resources.liquidation.endDate">EndDate</th>
													<th translate="resources.liquidation.paymentDate">PaymentDate</th>
													<th translate="resources.liquidation.amount">Amount</th>
													<th translate="resources.liquidation.payin">Payin</th>
													<th translate="resources.liquidation.total">Total</th>
													<th>&nbsp;</th>
												</tr>
											</thead>
											<tbody>
												<tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-warning': item.state === 1,'b-l b-5x b-success': item.state === 2}">
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.Since))</td>
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.Until))</td>
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.PaymentDate))</td>
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.Amount))€</td>
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.Payin))€</td>
													<td data-ng-show="item.state != 0">@(Html.ColumnFor<LiquidationGetAllResult>(x => x.Total))€</td>
													<td class="icon-column">
														<a data-xp-navigate ui-sref=@payments>
															<i class='@XpIcons.Money'></i>
															<span class="badge badge-sm up bg-info pull-right-xs">{{item.paymentsCount}}</span>
														</a>
													</td>
												</tr>
												<tr>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td>&nbsp;</td>
													<td><strong>{{arguments.amountSum|number:2}} €</strong></td>
													<td><strong>{{arguments.payinSum|number:2}} €</strong></td>
													<td><strong>{{arguments.totalSum|number:2}} €</strong></td>
													<td>&nbsp;</td>
												</tr>
											</tbody>
										</table>
									</div>
									<footer class="panel-footer">										
											<div class="container-fluid row">
												<div class="col-xs-12 col-sm-6">
													<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.liquidation.paid">Paid</p>
												</div>
												<div class="col-xs-12 col-sm-6">
													<div style="background-color:#FAD733;" class="legendGraph" /><p style="float:left;" translate="resources.liquidation.outstanding">Outstanding</p>
												</div>
											</div>										
									</footer>
								
									<!-- /Body -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</xp-list>
		</div>
	</div>
</div>
<!-- /@*LiquidationFactory.GetAllName*@ -->
