﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Payments.Arguments.Liquidation;

@using (Html.xpPopupPut(
	LiquidationFactory.LiquidationOpenName,
	LiquidationFactory.LiquidationOpenApi,
	"",
	//LiquidationResources.Change
	"resources.liquidation.change"
))
{
	<h4 translate="resources.liquidation.openQuestion" translate-values="{ total: '{{arguments.total}}' }">Do you want to cancell closing the liquidation with the total of {{arguments.total}} € ?</h4>
}
