/*   #9C6B01     #C48C11      #E9AF30      #FCC858      #FFD782 */
/*               #e6b400      #ffc900                           */

.bar.bar-payin {
  border-color: #C48C11;
  background-color: #E9AF30;
  background-image: linear-gradient(0deg, #C48C11, #C48C11 50%, transparent 50%);
  color: #fff;
}
.bar.bar-payin .title {
  color: #fff;
}
.bar.bar-payin.bar-footer {
  background-image: linear-gradient(180deg, #C48C11, #C48C11 50%, transparent 50%); 
}
.bar-payin .button {
  border-color: #C48C11;
  background-color: #E9AF30;
  color: #fff;
}
.bar-payin .button:hover {
  color: #fff;
  text-decoration: none;
}
.bar-payin .button.active, .bar-payin .button.activated {
  border-color: #C48C11;
  background-color: #C48C11;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.bar-payin .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px;
}
.bar-payin .button.button-icon {
  border-color: transparent;
  background: none;
}