/*   #9C6B01     #C48C11      #E9AF30      #FCC858      #FFD782 */
/*               #e6b400      #ffc900                           */

.button.button-payin {
  border-color: #C48C11;
  background-color: #E9AF30;
  color: #fff;
 }
.button.button-payin:hover {
  color: #fff;
  text-decoration: none;
 }
.button.button-payin.active, .button.button-payin.activated {
  border-color: #C48C11;
  background-color: #C48C11;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
}
.button.button-payin.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #E9AF30;
 }
.button.button-payin.button-icon {
  border-color: transparent;
  background: none;
 }
.button.button-payin.button-outline {
  border-color: #E9AF30;
  background: transparent;
  color: #E9AF30;
 }
.button.button-payin.button-outline.active, .button.button-payin.button-outline.activated {
  background-color: #E9AF30;
  box-shadow: none;
  color: #fff;
 }
 