﻿@using PayIn.Application.Dto.Arguments.ControlPlanning;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPost(
	ControlPlanningFactory.ClearName,
	ControlPlanningFactory.ClearApi,
	"",
	//ControlPlanningResources.Clear,
	"resources.controlPlanning.clear",
	init:
		"scope.arguments.since=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.until=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.workerId=params.workerId;"
))
{
	@(Html.SelectFor  <ControlPlanningClearArguments>(x => x.ItemId, "itemName", ControlItemFactory.RetrieveSelectorApi))
	@(Html.ArgumentFor<ControlPlanningClearArguments>(x => x.Since, width: 6))
	@(Html.ArgumentFor<ControlPlanningClearArguments>(x => x.Until, width: 6))
}