<ion-header-bar align-title="left" class="bar-stable bar-payin">
  <h1 class="title">Pay[in]</h1>
</ion-header-bar>
<ion-view view-title="Profile" class="col-center">
  <ion-content data-xp-panel class="center"
    <xp-login data-api="/api/account">
      <div class="list">
      <div class="item item-divider button button-clear button-payin icon-right ion-settings">
        Usuario
      </div>
      <a class="item" href="#">
        Josep Barrachina Ramada
      </a>
      <a class="item" href="#">
        josep@kukuestudio.es
      </a>
      <a class="item" href="#">
        685435435
      </a>
      <a class="item" href="#">
        26 Abril de 1983
      </a>
      <div class="item item-divider button button-clear button-payin icon-right ion-settings">
        Datos Fiscales
      </div>
      <a class="item" href="#">
        Josep Barrachina Ramada
      </a>
      <a class="item" href="#">
        44870300Z
      </a>
      <a class="item" href="#">
        26 Abril de 1983
      </a>
      <a class="item" href="#">
        C/ Alacant, 12 46191
      </a>
      <a class="item" href="#">
        Vilamarxant
      </a>
      <a class="item" href="#">
        Valencia
      </a>
      <a class="item" href="#">
        España
      </a>
    </div>
    <div class="row button button-clear button-payin">
        <a>CAMBIAR PASSWORD</a>
    </div>
    <div class="row button button-clear button-payin">
        <a>CAMBIAR PIN</a>
    </div>
    </xp-login>
  </ion-content>
</ion-view>