<ion-view view-title="Register" class="col-center">
  <ion-content data-xp-panel class="center">
    <xp-login data-api="/api/account">
      <div class="center">
        <img class="account-login-logo" src="img/logo_orange.png"/>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Nombre" data-ng-model="arguments.name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Apellido 1" data-ng-model="arguments.surname1">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Apellido 2" data-ng-model="arguments.surname2">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Email" data-ng-model="arguments.username">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Telefono" data-ng-model="arguments.mobile">
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Fecha de Nacimiento" data-ng-model="arguments.birthday">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" data-ng-model="arguments.password">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Confirm Password" data-ng-model="arguments.confirmPassword">
        </label>
      </div>
      <div class="row button-bar padding-horizontal">
        <a class="col col-35 col-offset-30 button button-block button-payin" ng-href="#/Account/Login">Cancelar</a>
        <a class="col col-35 button button-block button-payin" ng-click="">Siguiente</a>
      </div>
    </xp-login>
  </ion-content>
</ion-view>