﻿@using PayIn.Application.Dto.Arguments;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using PayIn.Application.Dto.Arguments.ServiceTimeTable;

@using (Html.xpPost(
	ServiceTimeTableFactory.Create,
	ServiceTimeTableFactory.CreateApi,
	"",
	//ServiceTimeTableResources.Create,
	"resources.serviceTimeTable.create",
	isTitleActive: true
))
{
				@(Html.SelectFor<ServiceTimeTableCreateArguments>(x => x.ZoneId, "zoneName", ServiceZoneFactory.RetrieveSelectorApi))
				@(Html.ArgumentFor<ServiceTimeTableCreateArguments>(x => x.FromWeekday))
				@(Html.ArgumentFor<ServiceTimeTableCreateArguments>(x => x.UntilWeekday))
				@(Html.ArgumentFor<ServiceTimeTableCreateArguments>(x => x.FromHour))
				@(Html.ArgumentFor<ServiceTimeTableCreateArguments>(x => x.DurationHour))
}

