﻿@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;

@using (Html.xpList(
	ServiceTimeTableFactory.GetAll,
	ServiceTimeTableFactory.GetAllApi,
	"",
	//ServiceTimeTableResources.RetrieveAll,
	"resources.serviceTimeTable.retrieveAll",
	isPaginable: false,
	isTitleActive: true,
	addPanelUrl: ServiceTimeTableFactory.Create,
	csvUrl: ServiceTimeTableFactory.GetAllCsv
))
{

		<div class="wrapper-md bg-light b-b">
			<button type="button" class="btn btn-default btn-addon pull-right m-t-n-xs" ui-toggle-class="show" target="#aside">
				<i class="fa fa-bars"></i> Edit
			</button>
			<h1 class="m-n font-thin h3">Time Table</h1>
		</div>
		<div class="hbox hbox-auto-xs hbox-auto-sm">
			<div class="col wrapper-md" ng-controller="FullcalendarCtrl">
				<div class="clearfix m-b">
					<button type="button" tooltip="Double click on calendar day to create event" class="btn btn-sm btn-primary btn-addon" ng-click="addEvent()">
						<i class="fa fa-plus"></i>Add
					</button>
					<div class="pull-right">
						<button type="button" class="btn btn-sm btn-default" ng-click="today()">today</button>
						<div class="btn-group m-l-xs">
							<button class="btn btn-sm btn-default" ng-click="changeView('agendaDay')" style="display:none">Day</button>
							<button class="btn btn-sm btn-default" ng-click="changeView('agendaWeek')"style="display:none">Week</button>
							<button class="btn btn-sm btn-default" ng-click="changeView('month')">Month</button>
						</div>
					</div>
				</div>
				<!--Pop-up al ponerse encima de un evento-->
				<div class="pos-rlt">
					<div class="fc-overlay">
						<div class="panel bg-white b-a pos-rlt">
							<span class="arrow"></span>
							<div class="h4 font-thin m-b-sm">{{ data.zoneName }} </div>
							<div class="line b-b b-light"></div>
							<div><i class="icon-calendar text-muted m-r-xs"></i> {{ data.fromHour | date:'medium' }} </div>
							<div class="ng-hide" ng-show='data.untilHour'><i class="icon-clock text-muted m-r-xs"></i> {{ data.untilHour | date:'medium' }} </div>
							<div class="ng-hide" ng-show='data.concessionName'><i class="icon-pointer text-muted m-r-xs"></i> {{ data.concessionName }} </div>
							<div class="m-t-sm"> {{ data.durationHour }} </div>

						</div>
					</div>
					<!--Calendario-->
					<div class="calendar" ng-model="eventSources" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>

				</div>
			</div>
			<!--Listado lateral-->
			<div class="col w-md w-auto-xs bg-light dk bg-auto b-l hide" id="aside">
				<div class="wrapper">
					<div ng-repeat="e in data" class="bg-white-only r r-2x m-b-xs wrapper-sm {{ e.className[0] }}">
						<input ng-model="e.zoneName" class="form-control m-t-n-xs no-border no-padder no-bg">
						<input ng-model="e.concessionName" class="form-control m-t-n-xs no-border no-padder no-bg">

						<a class="pull-right text-xs text-muted" ng-click="remove($index)"><i class="fa fa-trash-o"></i></a>
						<div class="text-xs text-muted"> {{ e.fromWeekdayLabel }} - {{ e.untilWeekdayLabel }} ({{ e.fromHour | date:'HH:mm' }} - {{ e.untilHour | date:'HH:mm' }})
						</div>
					</div>
				</div>
			</div>
		</div>
	

}
		

		@*@Html.Partial("_Update")
			@Html.Partial("_Delete")*@
