﻿@using Xp.Common;
@using PayIn.Common.Security;
@{
	Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs">
	<img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
	<div class="wrapper text-center">
		<strong translate="resources.security.overrideText">Override text</strong>
	</div>
	<div class="m-b-lg">
		<xp-changepassword id="changePassword" data-api="/api/account/OverridePassword" data-cache>
			<form name="form" role="form" class="form" ng-submit="changePassword()" novalidate>
				<div class="spinnerContainer" data-ng-show="_windowState.isBusy">
					<img class="spinnerLoading" src="~/Images/spinner.gif" />
				</div>
				@Html.AntiForgeryToken()
				@XpHelpers._xpErrors()
				<div class="list-group list-group-sm">
					<div class="list-group-item">
						<input type="email" name="userName" placeholder="Email" class="form-control no-border" ng-model="arguments.userName" required>
					</div>
					<div class="list-group-item">
						<input type="password" name="password" placeholder="New Password" class="form-control no-border" ng-model="arguments.password" required>
					</div>
					<div class="list-group-item">
						<input type="password" name="confirmPassword" placeholder="Confirm new Password" class="form-control no-border" ng-model="arguments.confirmPassword" required>
					</div>

				</div>
				<button href class="btn btn-lg btn-orange btn-block" type="submit" ng-disabled="form.$invalid || _windowState.isBusy" translate="resources.security.override">Override</button>
				<a class="btn btn-lg btn-default btn-block" data-ng-href="/" translate="resources.security.cancel">Cancel</a>
			</form>
		</xp-changepassword>
	</div>
</div>