@using Xp.Common;
@using PayIn.Web.Models
@model ConfirmForgotPasswordViewModel
<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>

@using PayIn.Common.Security;
@{
	Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs">
	<img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
		
	<div class="m-b-lg">       
        @using (Html.BeginForm("ConfirmForgotPassword", "Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div id="loading" class="spinnerContainer" style="display:none">
                <img class="spinnerLoading" src="~/Images/spinner.gif" />
            </div>
            <div class="wrapper text-center">
                <strong translate="resources.security.forgotPasswordText">Forgot your {{arguments.email}} account password</strong>
            </div>
            @Html.Partial("Error")
            <br />
            <br />
            <div><span translate="resources.security.confirmForgotPasswordText">You will receive an email in your account. To create a new password, click on the link received in the email, or copy the user Id and the code from the email and past it in the corresponding boxes.</span></div>
	<br />
	<div class="list-group list-group-sm">
		<div id="divUserId" class="list-group-item">
			@Html.TextBoxFor(m => m.UserId, new { @id = "userId", @class = "form-control no-border", @placeholder= @SecurityResources.userId })
		</div>
		<div id="divCode" class="list-group-item">
			@Html.TextBoxFor(m => m.Code, new { @id= "code", @class = "form-control no-border", @placeholder = @SecurityResources.code })
		</div>
		<div id="divPassword" class="list-group-item">
			@Html.PasswordFor(m => m.Password, new { @id = "password", @class = "form-control no-border", @placeholder = @SecurityResources.Password })
		</div>
		<div id="divConfirmPassword" class="list-group-item">
			@Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmPassword", @class = "form-control no-border", @placeholder = @SecurityResources.ConfirmPassword })
		</div>
	</div>
	<button id="submitbtn" class="btn btn-lg btn-orange btn-block" type="submit" disabled="disabled" translate="resources.security.find">Find</button>
	<div class="text-center m-t m-b">
		@Html.ActionLink(@SecurityResources.RememberPassword, "Login")
	</div>
	}
</div>
</div>