@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Web.Models
@model ForgotPasswordViewModel
<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>
@{
	Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs">
	<img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
	<div class="wrapper text-center">
		<strong translate="resources.security.forgotPasswordText">Forgot your {{arguments.email}} account password</strong>
	</div>
	<div class="m-b-lg">       
        @Html.Partial("Error")
        @using (Html.BeginForm("ForgotPassword", "Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div id="loading" class="spinnerContainer" style="display:none">
                <img class="spinnerLoading" src="~/Images/spinner.gif" />
            </div>
                <div class="list-group list-group-sm">
                    <div id="divEmail" class="list-group-item">
                        @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control no-border", @placeholder = @SecurityResources.Email })
                    </div>
                </div>
                <button id="submitbtn" class="btn btn-lg btn-orange btn-block" type="submit" disabled="disabled" translate="resources.security.recover">Recover</button>
                <div class="text-center m-t m-b">
                    @Html.ActionLink(@SecurityResources.Login, "Login")
                </div>
        }
	</div>
</div>