﻿@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Application.Dto.Security.Arguments;
@using PayIn.Web.App.Factories;
@using Xp.Common.Resources;
@using PayIn.Domain.Security;
@using PayIn.Common.Resources;
@using (Html.xpPopupPut(
	AccountFactory.UpdateImageCropName,
	AccountFactory.UpdateImageCrop,
	"",
	//AccountResources.ImageCrop,
	"resources.accountResources.imageCrop",
	previous: "if (scope.temp.avatar.loaded) { scope.files.avatar = scope.temp.avatar.image;}",
	success: "scope.$emit('changedAvatar');"
))
{
	<div class="wrapper-md" xp-image>
		<div>&nbsp;</div>
		<div class="hbox hbox-auto-xs">
			<div class="col">
				<div class="wrapper-sm b-a bg-white m-r-xs m-b-xs">
					<div class="bg-light" style="height:320px">
						<img-crop image="myImage"
								  result-image="temp.avatar.image"
								  result-image-size="160"
								  area-type="{{cropType}}"></img-crop>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="inline bg-white wrapper-sm b-a">
					<div class="bg-light">
						<img ng-src="{{temp.avatar.image}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
}



