﻿@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Web.Models
@model LoginViewModel
<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<script type="text/javascript" src="~/Scripts/toastr.min.js"></script>
<link href="~/Scripts/toastr.min.css" rel="stylesheet" />



@{ Layout = "~/Views/Shared/_Authentication.cshtml"; ViewBag.ReturnUrl = Request["ReturnUrl"]; 
   string referer = Request.ServerVariables["HTTP_REFERER"]; 
   var request = "";
   if (string.IsNullOrEmpty(referer)) { request = ""; } 
   else { request = Request.ServerVariables["HTTP_REFERER"]; }
   
 }

<div class="container w-xxl w-auto-xs">
	<img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
	<div class="wrapper text-center">
		<strong>@SecurityResources.LoginText</strong>
	</div>
	<div class="m-b-lg">
@Html.Partial("Error")
@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div id="loading" class="spinnerContainer" style="display:none" >
        <img class="spinnerLoading" src="~/Images/spinner.gif" />
    </div>
    <div class="list-group list-group-sm">
        <div id ="divEmail" class="list-group-item">
            @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control no-border", @placeholder= @SecurityResources.Email })
        </div>
        <div id="divPassword" class="list-group-item">
            @Html.PasswordFor(m => m.Password, new { @id="password", @class = "form-control no-border", @placeholder = @SecurityResources.Password })
        </div>
    </div>
    <button id="submitbtn" class="btn btn-lg btn-orange btn-block" type="submit" disabled="disabled">@SecurityResources.Login</button>
    <div class="text-center m-t m-b">
        @Html.ActionLink(@SecurityResources.ForgotPassword, "ForgotPassword")
    </div>
    <div class="line line-dashed"></div>
    <p class="text-center"><small>@SecurityResources.NotHaveAccountQuestion</small></p>
    <p style="align-self:center">
        @Html.ActionLink(@SecurityResources.Register, "Register", "Account", null, new { @class = "btn btn-lg btn-default btn-block" })		
    </p>
}
	</div>
</div>

@{
	if ((request.StartsWith("http://localhost:8080/Account/ConfirmEmail")) || (request.StartsWith("http://payin-test.cloudapp.net:8080/Account/ConfirmEmail")) || (request.StartsWith("http://payin.cloudapp.net:8080/Account/ConfirmEmail")) || (request.StartsWith("https://control.pay-in.es:8080/Account/ConfirmEmail")))
	{
		<script>
			toastr["success"]("@SecurityResources.ToastConfirmEmail")
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "0",
				"hideDuration": "0",
				"timeOut": "0",
				"extendedTimeOut": "0",
				"showEasing": "swing",
				"hideEasing": "swing",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
		</script>
	}
	else if ((request.StartsWith("http://localhost:8080/Account/Register")) || (request.StartsWith("http://payin-test.cloudapp.net:8080/Account/Register")) || (request.StartsWith("http://payin.cloudapp.net:8080/Account/Register")) || (request.StartsWith("https://control.pay-in.es:8080/Account/Register")))
	{
		<script>
			toastr["warning"]("@SecurityResources.ToastRegister")
			toastr.options = {
				"closeButton": true,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "0",
				"hideDuration": "0",
				"timeOut": "0",
				"extendedTimeOut": "0",
				"showEasing": "swing",
				"hideEasing": "swing",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			}
		</script>
	}

}
