﻿@using PayIn.Common.Security;
@using PayIn.Web.Models
@model RegisterViewModel
<script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/functions.js"></script>
<script type='text/javascript'>
	var captchaContainer = null;
	var loadCaptcha = function () {
		captchaContainer = grecaptcha.render('captcha_container', {
			'sitekey': '6Leu9Q0TAAAAAKPYd0GkVojIyMlWSkt2QaxTCc8J',
			'callback': function (response) {
				if (response != "") {
					$('#submitbtnReg').removeAttr('disabled');
				}
				else {
					$('#submitbtnReg').attr('disabled', 'disabled');
				}
			}
		});
	};
</script>

@{
	Layout = "~/Views/Shared/_Authentication.cshtml";
}

<div class="container w-xxl w-auto-xs" >
	<img src="/app/logo_orange.png" alt="Pay[in]" class="navbar-brand block m-t" style="margin:auto;" />
	<div class="wrapper text-center">
		<strong translate="resources.security.registerText">Register to get into the platform</strong>
	</div>
	<div class="m-b-lg">
        @Html.Partial("Error")
        @using (Html.BeginForm("Register", "Account", "", FormMethod.Post, new { @class = "form", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div id="loading" class="spinnerContainer" style="display:none">
                <img class="spinnerLoading" src="~/Images/spinner.gif" />
            </div>
            <div class="list-group list-group-sm">
                <div id="divName" class="list-group-item">
                    @Html.TextBoxFor(m => m.Name, new { @id = "name", @class = "form-control no-border", @placeholder = @SecurityResources.Name })
                </div>
                <div id="divEmail" class="list-group-item">
                    @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "form-control no-border", @placeholder = @SecurityResources.Email })
                </div>
                <div id="divMobile" class="list-group-item">
                    @Html.TextBoxFor(m => m.Mobile, new { @id = "mobile", @class = "form-control no-border", @placeholder = @SecurityResources.Telephone })
                </div>
                @*<div id="divBirthday" class="list-group-item" style="margin-bottom:40px;">
                    @Html.TextBoxFor(m => m.Birthday, new { @id = "birthday", @type = "date", @class = "form-control no-border", @placeholder = @SecurityResources.Birthday })
                </div>*@
                <div id="divPassword" class="list-group-item">
                    @Html.PasswordFor(m => m.Password, new { @id = "password", @class = "form-control no-border", @placeholder = @SecurityResources.PasswordMin })
                </div>
                <div id="divConfirmPassword" class="list-group-item">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "confirmPassword", @class = "form-control no-border", @placeholder = @SecurityResources.ConfirmPassword })
                </div>
				<br />
                <div>
                    <p>@Html.CheckBoxFor(m => m.CheckTerms, new { @id = "terms" })
                    <span>@SecurityResources.AcceptTerms</span>
                    <a href="@SecurityResources.TermsLink" class="btn-link">@SecurityResources.Agreement</a></p>
                </div>
            </div>
	        <div id="captcha_container" class="btn-block"></div>
		    <button id="submitbtnReg" class="btn btn-lg btn-orange btn-block" type="submit" disabled="disabled">@SecurityResources.Register</button>
            <div class="line line-dashed"></div>
            <p class="text-center"><small>@SecurityResources.HaveAccountQuestion</small></p>
            <p style="align-self:center">
                @Html.ActionLink(@SecurityResources.Login, "Login", "Account", null, new { @class = "btn btn-lg btn-default btn-block" })
            </p>
			<span>@SecurityResources.InfoEmail</span>
        }
	</div>
</div>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
	webshims.setOptions('waitReady', false);
	webshims.setOptions('forms-ext', { types: 'date'});
	webshims.polyfill('forms forms-ext');
</script>
