<ion-popover-view>
  <ion-content>
    <div class="list popup">
        <a class = "button button-full" ng-href="#/Map">Mapa</a>
        <a class = "button button-full" ng-href="#/Account/Profile">Perfil</a>
        <a class = "button button-full" ng-click="logout();">Salir</a>
    </div>
  </ion-content>
</ion-popover-view>