﻿@using PayIn.Application.Dto.Payments.Results.Payments;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using PayIn.Common;

@using (Html.xpList(
	PaymentFactory.LiquidationPaymentsName,
	PaymentFactory.LiquidationPaymentsApi,
	"",
	//PaymentResources.LiquidationCharges,
	"resources.payment.liquidationCharges",
	"{{arguments.liquidationSince|xpDate}} {{arguments.liquidationSince ? '-' : ''}} {{arguments.liquidationUntil|xpDate}}",
	isTitleActive: true,
	isPaginable: false,
	init: "scope.arguments.liquidationId=params.liquidationId"
))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th translate="resources.payment.date">Date</th>
					<th translate="resources.payment.id">Id</th>
					<th translate="resources.payment.name">Name</th>
					<th class="text-right" translate="resources.payment.amount">Amount</th>
					<th class="text-right" translate="resources.payment.payin">Payin</th>
					<th class="text-right" translate="resources.payment.total">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data" data-ng-class="{'b-l b-5x b-success': item.state === 1,'b-l b-5x b-warning': item.state === 4,'b-l b-5x b-danger': item.state === 2}">
					<td class="datetime-column"> @(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.Date, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}"))</td>
					<td>                         @(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.Id, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}"))</td>
					<td>                         @(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.TaxName, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}"))</td>
					<td class="text-right">
						@(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.Amount, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}")) € /
						@(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.TicketAmount, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}")) €
					</td>
					<td class="text-right">      @(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.Payin, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}")) €</td>
					<td class="text-right">      @(Html.ColumnFor<PaymentsGetAllByLiquidationResult>(x => x.Total, popupUrl: TicketFactory.DetailsName, id: "{{item.ticketId}}")) €</td>
				</tr>
			</tbody>
		</table>

		<div class="col-md-9 col-md-offset-3" data-ng-hide="data.length">
			<h1 translate="resources.liquidation.liquidationNull">It has no pending liquidation</h1>
		</div>
	</div>
		<footer class="panel-footer">
			<div class="elementBottom">
				<div class="col-md-6 col-xs-12 col-sm-6">
					<div style="background-color:#27C24C;" class="legendGraph" /><p style="float:left;" translate="resources.payment.payment">Payment</p>
				</div>
				<div class="col-md-6 col-xs-12 col-sm-6">
					<div style="background-color:#FAD733;" class="legendGraph" /><p style="float:left;" translate="resources.payment.refund">Refund</p>
				</div>
			</div>
		</footer>
	
}
