﻿@using PayIn.Application.Dto.Results.ControlForm;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using (Html.xpList(
	ControlFormFactory.GetAll,
	ControlFormFactory.GetAllApi,
	"",
	//ControlFormResources.GetAll,
	"resources.controlForm.getAll",
	isPaginable: false,
	isTitleActive: true,
	addPanelUrl: ControlFormFactory.CreateName
))
{
	var route = ControlFormArgumentFactory.GetFormState("{{item.id}}");
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.controlForm.name">Name</th>
					<th translate="resources.controlForm.observations">Observations</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: ControlFormFactory.DeleteName,
							id: "{{item.id}}"
						)
					</td>
					<td>@(Html.ColumnFor<ControlFormGetAllResult>(x => x.Name, panelUrl: ControlFormFactory.UpdateName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<ControlFormGetAllResult>(x => x.Observations, panelUrl: ControlFormFactory.UpdateName, id: "{{item.id}}"))</td>
					<td class="icon-column">
						<button class="btn btn-xs btn-info" data-xp-navigate ui-sref=@route>{{item.arguments.length}}</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
}
@*@Html.Partial("_Delete")*@
