﻿@using PayIn.Application.Dto.Arguments.ControlFormArgument;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using (Html.xpPost(
	ControlFormArgumentFactory.Create,
	ControlFormArgumentFactory.CreateApi,
	"",
	//ControlFormArgumentResources.Create,
	"resources.controlForm.create",
	init: "scope.arguments.formId=params.formId"
))
{
	@(Html.ArgumentFor<ControlFormArgumentCreateArguments>(x => x.Name))
	@(Html.ArgumentFor<ControlFormArgumentCreateArguments>(x => x.Observations))
	@(Html.ArgumentFor<ControlFormArgumentCreateArguments>(x => x.Type))
	@(Html.ArgumentFor<ControlFormArgumentCreateArguments>(x => x.Target))
	@(Html.ArgumentFor<ControlFormArgumentCreateArguments>(x => x.IsRequired))
}
