﻿@using PayIn.Application.Dto.Results.ControlFormArgument;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common;
@using (Html.xpList(
	ControlFormArgumentFactory.GetFormStateName,
	ControlFormArgumentFactory.GetFormApi,
	"",
	//ControlFormArgumentResources.GetForm,
	"resources.controlFormArgument.getForm",
	isPaginable: false,
	isTitleActive: true,
	showFormButtons: true,
	init:"scope.arguments.formId=params.formId",
	actions: new ActionLink[] {
		new ActionLink(ActionLink.ActionLinkType.Panel, ControlFormArgumentFactory.CreateName + "({formId:{{$stateParams.formId}}})", XpIcons.Plus)
	}
))
{
	<div class="table-responsive">
		<table class="table table-hover" ng-show="data.length">
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th translate="resources.controlForm.name">Name</th>
					<th translate="resources.controlForm.type">Type</th>
					<th translate="resources.controlForm.target">Target</th>
					<th translate="resources.controlForm.isRequired">Is required</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in data">
					<td class="icon-column">
						@XpColumns.IconColumn(
							XpIcons.Trash,
							popupUrl: ControlFormArgumentFactory.DeleteName,
							id: "{{item.id}}",
							arguments: "{\"name\":\"{{item.name}}\"}"
						)
					</td>
					<td>@(Html.ColumnFor<ControlFormArgumentGetFormResult>(x => x.Name, panelUrl: ControlFormArgumentFactory.UpdateName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<ControlFormArgumentGetFormResult>(x => x.TypeAlias, panelUrl: ControlFormArgumentFactory.UpdateName, id: "{{item.id}}"))</td>
					<td>@(Html.ColumnFor<ControlFormArgumentGetFormResult>(x => x.TargetAlias, panelUrl: ControlFormArgumentFactory.UpdateName, id: "{{item.id}}"))</td>
					<td class="icon-column" ng-show="item.isRequired" data-ng-click="@ControlFormArgumentFactory.UpdateName ({id:{{item.id}}})">@XpColumns.IconColumn(XpIcons.Ok)</td>
					<td class="icon-column" ng-hide="item.isRequired">@XpColumns.IconColumn(XpIcons.Remove)</td>
				</tr>
			</tbody>
		</table>
	</div>
}
