﻿@using PayIn.Application.Dto.Arguments.ControlFormArgument;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using (Html.xpPut(
	ControlFormArgumentFactory.Update,
	ControlFormArgumentFactory.UpdateApi,
	"",
	//ControlFormArgumentResources.Update
	"resources.controlFormArgument.update"
))
{
	<xp-get data-api="@ControlFormArgumentFactory.GetApi">
		@(Html.ArgumentFor<ControlFormArgumentUpdateArguments>(x => x.Name, focus: true))
		@(Html.ArgumentFor<ControlFormArgumentUpdateArguments>(x => x.Observations))
		@(Html.ArgumentFor<ControlFormArgumentUpdateArguments>(x => x.Type))
		@(Html.ArgumentFor<ControlFormArgumentUpdateArguments>(x => x.Target))
		@(Html.ArgumentFor<ControlFormArgumentUpdateArguments>(x => x.IsRequired))
	</xp-get>
}
