﻿@using Xp.Common;
@using PayIn.Common.Security;
@using PayIn.Common.Resources;
@using PayIn.Application.Dto.Security.Arguments;
@using PayIn.Web.App.Factories;
@using Xp.Common.Resources;
@using PayIn.Domain.Security;
@using PayIn.Application.Dto.Arguments.ServiceConcession;

@using (Html.xpPut(
    ServiceConcessionFactory.UpdateName,
    ServiceConcessionFactory.UrlApi,
	"",
	//ServiceConcessionResources.Update
	"resources.serviceConcession.update"	
)) 

{
<xp-get data-api="@ServiceConcessionFactory.UrlApi">
    @(Html.ArgumentFor<ServiceConcessionUpdateArguments>(x => x.Name,  focus: true))
	@*(Html.ArgumentFor<ServiceConcessionUpdateArguments>(x => x.Type))*@	
    @(Html.ArgumentFor<ServiceConcessionUpdateArguments>(x => x.MaxWorkers))    
    @(Html.ArgumentFor<ServiceConcessionUpdateArguments>(x => x.State))
	
</xp-get>
}



