<ion-header-bar align-title="left" class="bar-stable bar-payin">
  <h1 class="title">Pay[in]</h1>
</ion-header-bar>
<ion-view view-title="Pay[in]">
  <ion-header-bar class="bar-subheader bar-light">
    <h1 class="title">Mis tarjetas</h1>
  </ion-header-bar>
  <ion-content data-xp-panel>
    <xp-list data-api="mobile/paymentmedia/v1" data-initial-search>
      <ion-list>
        <ion-item>
          <div class="xp-card">
            <div class="xp-bank">Banco Santander</div>
            <div class="xp-name">Tarjeta Personal</div>
            <div class="xp-pan">xxxx xxxx xxxx xxxx</div>
            <div class="xp-owner">Javier Jorge Cerdá</div>
            <div class="xp-expiration">Cad 00/00</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="xp-card">
            <div class="xp-bank">Banco Santander</div>
            <div class="xp-name">Tarjeta Personal</div>
            <div class="xp-pan">xxxx xxxx xxxx xxxx</div>
            <div class="xp-owner">Javier Jorge Cerdá</div>
            <div class="xp-expiration">Cad 00/00</div>
          </div>
        </ion-item>
      </ion-list>
    </xp-list>
  </ion-content>
</ion-view>
