﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	ServiceAddressNameFactory.Delete,
	ServiceAddressNameFactory.DeleteApi,
	"",
	//ServiceAddressNameResources.Delete,
	"resources.serviceAddressName.delete",
	id: "id"
))
{
	<p translate="resources.serviceAddressName.deleteQuestion" translate-values="{ name: '{{arguments.name}}', providerMapText:'{{arguments.providerMapText}}' }">Do you want to delete {{arguments.name}} ({{arguments.providerMapText}})?</p>
}