<ion-view view-title="Login" class="col-center">
  <ion-content data-xp-panel class="center">
      <div class="center">
        <img class="account-login-logo" src="img/logo_orange.png"/>
      </div>
      <h1>Política de privacidad</h1>
      <p>
        En cumplimiento de lo dispuesto en la ley 15/1999, de 13 de Diciembre, de Protección de Datos Personales (LOPD), Payment Innovation Network S.L., como responsable del/los fichero/s, informa que los datos personales que el usuario facilitará durante toda su relación con nuestra compañía, incluida su dirección de e-mail y todos aquellos datos personales a los que podamos acceder durante la relación establecida, serán tratados en un/os fichero/s debidamente inscrito/s en la Agencia Española de Protección de Datos y de conformidad con lo establecido en la legislación vigente.
La información que nos pueda ser remitida, se incoporará a los sistemas de información de Payment Innovation Network S.L. Dicha comunicación se podrá utilizar de forma interna para análisis y generación de estadísitcas, así como para mejorar su atención, en ningún caso se suministrarán datos sensibles a terceros sin el consentimiento específico del usuario. Mediante la indicación, facilitación o introducción de sus datos, y de conformidad con lo establecido en el artículo 6 de la L.O.P.D., Vd. otorga consentimiento inequívoco a Payment Innovation Network S.L., para que proceda, en cumplimiento de los fines mencionados en el apartado anterior, al tratamiento de los datos personales facilitados. Así mismo, dicho consentimiento se extiende a la cesión de los datos de acuerdo con la legislación aplicable.
El acceso a sus datos personales será efectuado por personal autorizado y sujeto asimismo a una obligación de secreto, los mismos y se tratarán de conformidad con la LOPD 15/1999 así como del Real Decreto 1702/2007 en su desarrollo, no pudiéndose utilizar en ningún caso para finalidades distintas de las aquí autorizadas ni con fines comerciales o publicitarios no autorizados, así como no pudiendo cederse a terceras partes sin consentimiento expreso. En cualquier momento usted podrá ejercitar los derechos de acceso, rectificación, oposición y, en su caso, cancelación, comunicándolo por escrito con indicación de sus datos a Payment Innovation Network S.L., en el domicilio de Marina Real Juan Carlos I, Muelle de la Aduana s/n Edificio Lanzadera, 46024 Valencia.
      </p>
    </xp-login>
  </ion-content>
</ion-view>