<ion-view>
      <ion-content class="has-header contentPadding" ng-controller="camera">
            <img ng-show="cameraPic !== undefined" ng-src="{{imcameraPic}}">
            <img ng-show="cameraPic === undefined" ng-src="http://placehold.it/300x300">
            <div class="form-group padding-top">                   
                  <button class='button button-block button-payin' data-ng-click="takePicture()">
                        {{buttonTitle}}
                  </button> 
            </div>                
      </ion-content>
</ion-view>