﻿@using PayIn.Web.App.Factories;
@using PayIn.Common.Resources;
@using PayIn.Domain.Public;
@using PayIn.Domain.Security;
@using PayIn.Common.Security;

@{
	var checkIsSuperadministrator = "authentication.hasRole('" + AccountRoles.Superadministrator + "')";
	var checkIsCommerce = "authentication.hasRole('" + AccountRoles.Commerce + "')";
	var checkIsCommercePayment = "authentication.hasRole('" + AccountRoles.CommercePayment + "')";
	var checkIsCommerceCommercePayment = "authentication.hasRole('" + AccountRoles.Commerce + "," + AccountRoles.CommercePayment + "')";
	var checkIsPaymentWorker = "authentication.hasRole('" + AccountRoles.PaymentWorker + "')";
	var checkIsOperator = "authentication.hasRole('" + AccountRoles.Operator + "')";
	var checkIsSuperadministratorOperator = "authentication.hasRole('" + AccountRoles.Superadministrator + "," + AccountRoles.Operator + "')";
	var checkIsCommercePaymentOrUser = "authentication.hasRole('" + AccountRoles.CommercePayment + "," + AccountRoles.User + "')";
	var checkIsCommercePaymentOrPaymentWorker = "authentication.hasRole('" + AccountRoles.CommercePayment + "," + AccountRoles.PaymentWorker + "')";
	var checkIsCommercePaymentOrPaymentWorkerOrUser = "authentication.hasRole('" + AccountRoles.CommercePayment + "," + AccountRoles.PaymentWorker + "," + AccountRoles.User + "')";
}

<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Pay[in]</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- BootStrap-->
	@Styles.Render("~/Content/bootstrap")
	<!-- Xp -->
	@Styles.Render("~/Content/xp")
	<!-- App -->
	@Styles.Render("~/Content/app")
	<!-- start Mixpanel -->
	<script type="text/javascript">
		(function (f, b) {
			if (!b.__SV) {
				var a, e, i, g;
				window.mixpanel = b;
				b._i = [];
				b.init = function (a, e, d) {
					function f(b, h) {
						var a = h.split(".");
						2 == a.length && (b = b[a[0]], h = a[1]);
						b[h] = function () {
							b.push([h].concat(Array.prototype.slice.call(arguments, 0)))
						}
					}
					var c = b;
					"undefined" !== typeof d ? c = b[d] = [] : d = "mixpanel"; c.people = c.people || [];
					c.toString = function (b) {
						var a = "mixpanel";
						"mixpanel" !== d && (a += "." + d);
						b || (a += " (stub)");
						return a
					};
					c.people.toString = function () {
						return c.toString(1) + ".people (stub)"
					};
					i = "disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
					for (g = 0; g < i.length; g++) f(c, i[g]); b._i.push([a, e, d])
				};
				b.__SV = 1.2;
				a = f.createElement("script");
				a.type = "text/javascript";
				a.async = !0;
				a.src = "undefined" !== typeof MIXPANEL_CUSTOM_LIB_URL ? MIXPANEL_CUSTOM_LIB_URL : "//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";
				e = f.getElementsByTagName("script")[0];
				e.parentNode.insertBefore(a, e)
			}
		})(document, window.mixpanel || []);
		mixpanel.init("55e98223cf7bea80e3be35b4fe32985f");
	</script>
	<!-- end Mixpanel -->

</head>
<body ng-app="payin" ng-controller="AppCtrl">
	<div class="app" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}">
		<div ng-cloak data-ng-show="authentication.name">
			<!-- superior navbar -->
			<div class="app-header navbar">

				<!-- icon navbar header -->
				<div class="navbar-header {{app.settings.navbarHeaderColor}}">
					<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
						<i class="glyphicon glyphicon-cog"></i>
					</button>
					<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
						<i class="glyphicon glyphicon-align-justify"></i>
					</button>
					<!-- brand -->
					<a href="#/" class="navbar-brand text-lt">
						<img ng-show="app.settings.asideFolded" src="app/Logo-small.png" alt="P[in]" />
						<img ng-hide="app.settings.asideFolded" src="app/logo.png" alt="Pay[in]" />
					</a>
					<!-- / brand -->
				</div>
				<!-- / icon navbar header -->
				<!-- collapse navbar -->
				<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
					<!-- collapse button -->
					<div class="nav navbar-nav hidden-xs">
						<a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
							<i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
						</a>
					</div>
					<!-- / collapse button -->
					<!-- navbar right -->					
					<ul class="nav navbar-nav navbar-right" xp-logout>
						@*<li class="dropdown" dropdown>
							<a href class="dropdown-toggle clear" dropdown-toggle>
								<span class="hidden-sm hidden-md">{{authentication.name}}</span>
								<b class="caret"></b>
							</a>*@
						<!-- dropdown -->
						<li class="dropdown dropdownProfile" dropdown="">
							<a href class="dropdown-toggle clear" dropdown-toggle aria-haspopup="true" aria-expanded="true">
								<span class="hidden-sm hidden-md">{{authentication.name}}</span>
								<b class="caret"></b>
								<xp-get data-api="@AccountFactory.GetCurrentApi">
									<span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm" ng-show="arguments.photoUrl.length">
										<img ng-controller="OnChangedAvatar" ng-src="{{arguments.photoUrl}}">
										<i class="on md b-white bottom"></i>
									</span>
								</xp-get>
								<span class="thumb-sm avatar m-t-n-sm m-b-n-sm m-l-sm" ng-hide="arguments.photoUrl.length">
									<img src="@ApplicationUserResources.DefaultUserAvatar">
									<i class="on md b-white bottom"></i>
								</span>
							</a>
							<!-- dropdown -->
							<ul class="dropdown-menu animated fadeInRight w">
								<li>
									<a ui-sref="@AccountFactory.UpdateSettingsName" data-xp-navigate translate="resources.nav.profile_menu.PROFILE">@*MainResources.Profile*@ Profile</a>
								</li>
								<li class="divider"></li>
								<li>
									<a data-ng-href="@AccountFactory.UpdatePassword" translate="resources.nav.profile_menu.CHANGEPASSWORD">
										@*@MainResources.ChangePwd*@ Change password
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="" ng-click="logout()" translate="resources.nav.profile_menu.LOGOUT">@*@MainResources.Logout*@ Logout</a>
								</li>
							</ul>
							<!-- / dropdown -->
						</li>
						<ul class="nav navbar-nav navbar-right dropdownLang">
							<li class="dropdown hidden-sm listLang" is-open="lang.isopen" dropdown>
								<a href class="dropdown-toggle" dropdown-toggle >
									<span data-ng-show="selectLang=='Spanish'"><img src="images/spa.png" /> <b class="caret"></b></span>
									<span data-ng-show="selectLang=='English'"><img src="images/eng.png" /> <b class="caret"></b></span>
								</a>
							
								<!-- dropdown -->
								<ul class="dropdown-menu animated fadeInRight w">
									<li ng-repeat="(langKey, label) in langs">									
										<a ng-click="setLang(langKey, $event)" class="selectLang" href>{{label}}</a>										
									</li>
								</ul>
								<!-- / dropdown -->
							</li>
							<li class="hidden-xs">
								<a ui-fullscreen></a>
							</li>
						</ul>
					<!-- / navbar right -->
				</div>
				<!-- / navbar collapse -->
			</div>
			<!-- / collapse navbar -->
			<!-- menu -->
			<div class="app-aside hidden-xs" ng-class="app.settings.asideColor">
				<div class="aside-wrap">
					<!-- if you want to use a custom scroll when aside fixed, use the slimScroll
						<div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
					-->
					<div class="navi-wrap">
						<!-- nav -->
						<nav ui-nav class="navi">
							<!-- list -->
							<ul class="nav">
								<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
									<span style="display:none;"></span>
								</li>
								<li ui-sref-active="active" data-ng-show="@checkIsCommerce">
									<a ui-sref="@ServiceWorkerFactory.GetAllName">
										<i class="glyphicon glyphicon-briefcase icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.WORKERS">Workers</span>
									</a>
								</li>
								<li ui-sref-active="active" data-ng-show="@checkIsCommerceCommercePayment">
									<a ui-sref="@ServiceConcessionFactory.GetAllName">
										<i class="fa fa-building icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.CONCESSIONS">Concessions</span>
									</a>
								</li>
								<li ui-sref-active="active" data-ng-show="@checkIsPaymentWorker">
									<a ui-sref="@PaymentWorkerFactory.GetAllConcession">
										<i class="fa fa-bank icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.CONCESSIONS">Concessions</span>
									</a>
								</li>
								<li ui-sref-active="active" data-ng-show=@checkIsCommercePaymentOrPaymentWorkerOrUser>
									<a ui-sref="@PaymentFactory.GetAllName">
										<i class="fa fa-dollar icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.PAYMENTS">Payments</span>
									</a>
								</li>
								<li data-ng-show=@checkIsCommercePaymentOrPaymentWorker>
									<a href class="auto">
										<span class="pull-right text-muted">
											<i class="fa fa-fw fa-angle-right text"></i>
											<i class="fa fa-fw fa-angle-down text-active"></i>
										</span>
										<i class="fa fa-money icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.CHARGES">Charges</span>
									</a>
									<ul class="nav nav-sub dk">
										<li class="nav-sub-header">
											<a href>
												<span translate="resources.nav.menu.CHARGES">Charges</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsCommercePayment>
											<a ui-sref="@PaymentWorkerFactory.GetAll">
												<span translate="resources.nav.menu.WORKERS">Workers</span>
											</a>
										</li>
										<li ui-sref-active="active">
											<a ui-sref="@TicketFactory.GetAllName">
												<span translate="resources.nav.menu.TICKETS">Tickets</span>
											</a>
										</li>
										<li ui-sref-active="active">
											<a ui-sref="@PaymentFactory.GetChargesName">
												<span translate="resources.nav.menu.CHARGES">Charges</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsCommercePayment>
											<a ui-sref="@LiquidationFactory.GetAllName">
												<span translate="resources.nav.menu.LIQUIDATIONS">Liquidations</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsCommercePayment>
											<a ui-sref="@TicketFactory.GraphName">
												<span translate="resources.nav.menu.STATISTICS">Statistics</span>
											</a>
										</li>
									</ul>
								</li>
								<li data-ng-show=@checkIsSuperadministratorOperator>
									<a href class="auto">
										<span class="pull-right text-muted">
											<i class="fa fa-fw fa-angle-right text"></i>
											<i class="fa fa-fw fa-angle-down text-active"></i>
										</span>
										<i class="glyphicon glyphicon-user icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.CONTROL">Control</span>
									</a>

									<ul class="nav nav-sub dk">
										<li class="nav-sub-header">
											<a href>
												<span translate="resources.nav.menu.Control">Control</span>
											</a>
										</li>										
										<li ui-sref-active="active" data-ng-show=@checkIsSuperadministrator>
											<a ui-sref="@ServiceTagFactory.GetAll">
												<span translate="resources.nav.menu.TAGS">Tags</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsOperator>
											<a ui-sref="@ControlItemFactory.GetAll">
												<span translate="resources.nav.menu.ITEMS">Items</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsOperator>
											<a ui-sref="@ControlTrackFactory.GetAllName">
												<span translate="resources.nav.menu.TRACE">Trace</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsOperator>
											<a ui-sref="@ControlTemplateFactory.GetAll">
												<span translate="resources.nav.menu.TEMPLATES">Templates</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsOperator>
											<a ui-sref="@ServiceWorkerFactory.GetControlName">
												<span translate="resources.nav.menu.WORKERS">Workers</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsOperator>
											<a ui-sref="@ControlFormFactory.GetAllName">
												<span translate="resources.nav.menu.FORMS">Forms</span>
											</a>
										</li>
									</ul>
								</li>
								<li data-ng-show=@checkIsSuperadministrator>
									<a href class="auto">
										<span class="pull-right text-muted">
											<i class="fa fa-fw fa-angle-right text"></i>
											<i class="fa fa-fw fa-angle-down text-active"></i>
										</span>
										<i class="fa fa-building icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.SUPPLIERS">Suppliers</span>
									</a>
									<ul class="nav nav-sub dk">
										<li ui-sref-active="active" data-ng-show=@checkIsSuperadministrator>
											<a ui-sref="@ServiceSupplierFactory.GetAllSuppliersName">
												<span translate="resources.nav.menu.CONCESSIONS">Concessions</span>
											</a>
										</li>
									</ul>
								</li>
								<li data-ng-show=@checkIsSuperadministrator>
									<a href class="auto">
										<span class="pull-right text-muted">
											<i class="fa fa-fw fa-angle-right text"></i>
											<i class="fa fa-fw fa-angle-down text-active"></i>
										</span>
										<i class="fa fa-money icon text-orange"></i>
										<span class="font-bold" translate="resources.nav.menu.CHARGES">Charges</span>
									</a>
									<ul class="nav nav-sub dk">
										<li class="nav-sub-header">
											<a href>
												<span></span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsSuperadministrator>
											<a ui-sref="@TicketFactory.GetAllName">
												<span translate="resources.nav.menu.TICKETS">Tickets</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsSuperadministrator>
											<a ui-sref="@PaymentFactory.GetAllName">
												<span translate="resources.nav.menu.PAYMENTS">Payments</span>
											</a>
										</li>
										<li ui-sref-active="active" data-ng-show=@checkIsSuperadministrator>
											<a ui-sref="@LiquidationFactory.LiquidationPayName">
												<span translate="resources.nav.menu.LIQUIDATIONS">Liquidations</span>
											</a>
										</li>
									</ul>
								</li>
								<!-- / list -->
						</nav>
						<!-- nav -->
					</div>
				</div>
			</div>
			<!-- / menu -->
			@RenderBody()
			<!-- / uiView:  -->
		</div>
		<!-- footer -->
		<div class="app-footer wrapper b-t bg-light">			
			<span class="pull-right">Pay[in] {{app.version}} <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
			&copy; 2014 Copyright
		</div>
		<!-- / footer -->
	</div>
	</div>
	@*
		MAPA XAVI
		Descomentar esta línea
	*@
	<script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=geometry&sensor=false"></script>
	<script src="https://www.google.com/jsapi"></script>


	@*sensor=false&language=ja&region=GB*@
	<!-- jQuery-->
	@Scripts.Render("~/bundles/jquery")
	<!-- Angularjs -->
	@Scripts.Render("~/bundles/angularjs")
	<!-- BootStrap-->
	@Scripts.Render("~/bundles/bootstrap")
	<!-- Lazyload -->
	@Scripts.Render("~/bundles/lazyload")
	<!-- Translate -->
	@Scripts.Render("~/bundles/translate")
	<!-- Xp -->
	@Scripts.Render("~/bundles/xp")
	<!-- App -->
	@*@Html.Partial("_Routes")* @
		@Scripts.Render("~/bundles/app")
		@* @Scripts.Render("~/bundles/template")*@
</body>
</html>
