﻿@using PayIn.Application.Dto.Arguments.ControlPlanningCheck;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using (Html.xpPost(
	ControlPlanningCheckFactory.CreateName,
	ControlPlanningCheckFactory.CreateApi,
	"",
	//ControlPlanningCheckResources.Create,
	"resources.controlPlanningCheck.create",
	init:
		"scope.arguments.dateSince=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.dateUntil=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.workerId=params.workerId;" +
		"scope.arguments.itemName=form.itemId.lastCommittedViewValue;"
))
{
@(Html.SelectFor<ControlPlanningCheckCreateArguments>(x => x.ItemId, "itemName", ControlItemFactory.RetrieveSelectorApi))
@(Html.ArgumentFor<ControlPlanningCheckCreateArguments>(x => x.DateSince, width: 6))
@(Html.ArgumentFor<ControlPlanningCheckCreateArguments>(x => x.DateUntil, width: 6))
@(Html.ArgumentFor<ControlPlanningCheckCreateArguments>(x => x.Time))
@(Html.SelectFor<ControlPlanningCheckCreateArguments>(x => x.CheckPointId, "checkPointItem", ServiceCheckPointFactory.RetrieveSelectorCheckApi, arguments: "{\"itemId\":\"{{arguments.itemId}}\"}"))
}	
