﻿.navbar-header {
	height: 50px;
}
.navbar-brand {
	height: 50px;
}
.navbar-brand img {
	margin-top: 12px;
	max-height: 30px;
}
.btn-group i {
	padding: 7px;
}
.modal-dialog .modal-content .modal-body img {
	width: 100%;
}

.input-group{
	width:96.4% !important;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 2px;
}
#downloadFile{
	position: relative;
    left: 96.2%;
    top: -34px;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  cursor: pointer;
  font-size: 27px; 
}


input[type=checkbox]:after {
    content: " ";
    background-color: #FFF;
    display: inline-block;
    visibility: visible;
}

.legendGraph {
	float:left; 
	height:10px; 
	width:10px; 
	margin-right:5px;
	margin-top:5px;
}
.legend-graph-group {
	float:right;
	border: 1px solid #CCC;
	margin-right:20px;
	padding:10px;
}
.legend-graph-color {
	float:left;
	height:10px;
	width:10px;
	margin-right:5px;
	margin-top:5px;
}
.legend-graph-text {
	float:left;
}
.legend-graph-item {
	float:left;
	clear:left;
}
.badge {
	font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	height:16px !important;
	width:16px !important;
}
.truncate {
	width:300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip.top{
	display:none;
}

/* Para la barra de jornada*/
td.journey {
	width:200px;
	padding: 1px 15px !important;
}
td .journey-0 {
	float:left;
}
td .journey-24 {
	float:right;
}
td .journey-bar {
	margin-top:20px;
}
td .journey-bar .journey-background {
	height:10px;
	background-color:#F0F3F4;
}
td .journey-bar .journey-range {
	height:10px;
	background-color:#e9af30;
	margin-top:-10px
}

/* Para el icono cuando se minimiza */
@media (min-width: 768px) {
	.app-aside-folded .app-header .navbar-brand {
		padding-left: 5px;
	}
	.app-aside-folded .app-header .navbar-brand img {
		margin-top: 15px;
		max-height: 25px;
	}
	.navbar-right {
		margin-right: 0px;
	}
}
/* Special table */
.table {
	margin-bottom: 0;
}
.table > tbody > tr > td.icon-column {
	width: 25px;
	padding: 8px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.icon-column2 {
	width: 50px;
	padding: 8px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.icon-column3 {
	width: 75px;
	padding: 8px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.icon-column4 {
	width: 100px;
	padding: 8px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.icon-column5 {
	width: 125px;
	padding: 8px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.datetime-column {
	width: 140px;
	padding: 10px 0px !important;
	text-align: center;
}
.table > tbody > tr > td.table-column {
	padding:0;
}
.table > tbody > tr > td.table-column .table > tbody > tr:first-child > td {
	border-top-width: 0;
}
.panel .table-responsive {
    margin-bottom: 0;
    border: 0;
}
.panel .dataTables_wrapper {
	margin-bottom: 20px;
}

/*Orange color*/
/* http://paletton.com/#uid=10+0u0kpqtffHEfkNvBtcoEvMj- */
/* https://color.adobe.com/es/create/color-wheel/?base=2&rule=Analogous&selected=4&name=Mi%20tema%20de%20Color&mode=rgb&rgbvalues=0.611764705882353,0.4251404345524549,0.0039215686274509664,0.7686274509803922,0.5508298887124743,0.06666666666666661,0.9137254901960784,0.6862745098039216,0.18823529411764706,0.9882352941176471,0.7845172231055567,0.34509803921568627,1,0.8431372549019608,0.5098039215686274&swatchOrder=0,1,2,3,4 */
/*
   #9C6B01     #C48C11      #E9AF30      #FCC858      #FFD782
   156,107,1   196,140,17   233,175,48   252,200,88   255,215,130
   #C48C11     #131e26      #1c2b36                   #7793a7

   #FFFFFF
   #869fb1
   #5c798f
*/
.btn-orange {
	color: white; /*#7793a7*/
  background-color: #E9AF30; /*#1c2b36*/
  border-color: #E9AF30; /*#1c2b36*/
}
.bg-orange {
  color: #FFD782; /*#7793a7*/
  background-color: #E9AF30; /*#1c2b36*/
}
.bg-orange.lt,
.bg-orange .lt {
  background-color: #263845;
}
.bg-orange.lter,
.bg-orange .lter {
  background-color: #314554;
}
.bg-orange.dk,
.bg-orange .dk {
  background-color: #C48C11; /*#131e26*/
}
.bg-orange.dker,
.bg-orange .dker {
  background-color: #0a1015;
}
.bg-orange.bg,
.bg-orange .bg {
  background-color: #E9AF30; /*#1c2b36*/
}
.bg-orange a {
  color: #96abbb;
}
.bg-orange a:hover {
  color: #ffffff;
}
.bg-orange a.list-group-item:hover,
.bg-orange a.list-group-item:focus {
  background-color: inherit;
}
.bg-orange .nav > li:hover > a,
.bg-orange .nav > li:focus > a,
.bg-orange .nav > li.active > a {
  color: #ffffff;
  background-color: #C48C11; /*#131e26*/
}
.bg-orange .nav > li > a {
  color: #FFFFFF; /*#869fb1*/
}
.bg-orange .nav > li > a:hover,
.bg-orange .nav > li > a:focus {
  background-color: #9C6B01; /*#16232d*/
}
.bg-orange .nav .open > a {
  background-color: #C48C11; /*#131e26*/
}
.bg-orange .caret {
  border-top-color: #FFD782; /*#7793a7*/
  border-bottom-color: #FFD782; /*#7793a7*/
}
.bg-orange.navbar .nav > li.active > a {
  color: #ffffff;
  background-color: #9C6B01; /*#131e26*/
}
.bg-orange .open > a,
.bg-orange .open > a:hover,
.bg-orange .open > a:focus {
  color: #ffffff;
}
.bg-orange .text-muted {
  color: #FFFFFF /*#5c798f*/ !important;
}
.bg-orange .text-lt {
  color: #c4d0d9 !important;
}
.bg-orange.auto .list-group-item,
.bg-orange .auto .list-group-item {
  background-color: transparent;
  border-color: #C48C11 /*#131e26*/ !important;
}
.bg-orange.auto .list-group-item:hover,
.bg-orange .auto .list-group-item:hover,
.bg-orange.auto .list-group-item:focus,
.bg-orange .auto .list-group-item:focus,
.bg-orange.auto .list-group-item:active,
.bg-orange .auto .list-group-item:active,
.bg-orange.auto .list-group-item.active,
.bg-orange .auto .list-group-item.active {
  background-color: #C48C11 /*#131e26*/ !important;
}
.b-orange {
  border-color: #E9AF30;
}
.btn-PayIn,
.btn-Payn:visited {
  color:#FFFEFF;
  text-shadow: none;
  border-color: #E9AF30;
  background-color: #E9AF30;
  border-color: #E9AF30;
  background-repeat: repeat-x;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);		
}
.btn-PayIn:hover {
  background-color: #CC982A;
  background-position: 0 -15px;
  border-color: #CC982A;
  color:#FFFEFF;
}	
.btn-PayIn:focus {
  color:#FFFEFF;
}
.btn-PayIn:active {
  background-color: #CC982A;
  border-color: #753D00;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  background-repeat: repeat-x;  
}
.btn-warning:disabled {
	background-color: #eb9316;
	background-image: none;
}	
.topLn-PayIn {
  color:#FFFEFF;
  text-shadow: none;
  border-color: #E9AF30;
  background-color: #E9AF30;
  border-color: #E9AF30;
}
i.text-orange {
  color: #E9AF30;
}
.align-total {
  padding: 8px 15px;
}

/* Subtitle */
.xp-subtitle {
	margin-left: 20px;
}
/*Para la imagen del perfil*/
.image-upload > input
{
    display: none;
}
/*propiedades de las imagenes del usuario*/
.image-pointer-margin 
{
	margin-left:5%;
	cursor: pointer;
}

/*Alinea un elemento en la parte inferior de la página*/


/*Formateo de tablas*/
.max-text-size-200 {
	overflow: hidden;
	width: 200px !important;
}
.max-text-size-100 {
	overflow: hidden;
	width: 100px !important;
}

@media (max-width: 767px) {

	.dropdownProfile{		
		width: 50%;
		float: left;
	}

	.dropdownLang{		
		width: 50%;
		float: right;
	}

	.listLang{
		margin-left: 15px;    
		float: right;
		width:70px !important;
		margin-right: 2px;
	}
	
	.selectLang{
       padding: 5px 15px 5px 0 !important;
	}

}

.listLang{
    margin-left: 15px;     
	}