﻿@using PayIn.Application.Dto.Arguments.ControlPlanningItem;
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPost(
	ControlPlanningItemFactory.CreateName,
	ControlPlanningItemFactory.CreateApi,
	"",
	//ControlPlanningItemResources.Create,
	"resources.controlPlanningItem.create",
	init:
		"scope.arguments.dateSince=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.dateUntil=moment(Date()).format('YYYY-MM-DD');" +
		"scope.arguments.workerId=params.workerId;"
))
{
@(Html.SelectFor  <ControlPlanningItemCreateArguments>(x => x.ItemId, "itemName", ControlItemFactory.RetrieveSelectorApi))
@(Html.ArgumentFor<ControlPlanningItemCreateArguments>(x => x.DateSince, width: 6))
@(Html.ArgumentFor<ControlPlanningItemCreateArguments>(x => x.DateUntil, width: 6))
@(Html.ArgumentFor<ControlPlanningItemCreateArguments>(x => x.TimeSince, width: 6))
@(Html.ArgumentFor<ControlPlanningItemCreateArguments>(x => x.TimeUntil, width: 6))
}