﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;

@using (Html.xpPopupDelete(
	ServiceCheckPointFactory.Delete,
	ServiceCheckPointFactory.DeleteApi,
	"",
	//ServiceCheckPointResources.Delete,
	"resources.servicecheckPoint.delete",
	id: "id"
))
{
	<p translate="resources.serviceCheckPoint.deleteQuestion" translate-values="{ name: '{{arguments.name}}' }">Do you want to delete the checkpoint {{arguments.name}}?</p>
}

