﻿@using PayIn.Domain.Security;
@using PayIn.Common.Resources;


@{
	XpHtmlHelpersExtension.SetXpHelpers(typeof(ASP.XpHelpers));
	XpArgumentsExtension.SetXpArguments(typeof(ASP.XpArguments));
	XpColumnsExtension.SetXpColumns(typeof(ASP.XpColumns));
	var checkIsCommerceOrUser = "authentication.hasRole('" + AccountRoles.Commerce + "," + AccountRoles.User + "')";
}


<script type="text/javascript" defer="defer">
    @Html.Raw(ViewBag.AccessToken)
    @Html.Raw(ViewBag.RefreshToken)
    @Html.Raw(ViewBag.UserName)
    @Html.Raw(ViewBag.Roles)
    @Html.Raw(ViewBag.ClientId)
    @Html.Raw(ViewBag.Error)
</script>


<!-- content -->
<div class="app-content">
	<div ui-butterbar></div>
	<a href class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
	<div class="app-content-body fade-in-up" style="height:100%;" ui-view></div>	
</div>
<!-- /content -->

