﻿@using Microsoft.AspNet.Identity
@using PayIn.Common.Resources;
@using PayIn.Web.App.Factories;
@using Xp.Common.Resources;

@using (Html.xpPopupShow(
	HomeFactory.Popup,
	"",
	"{{arguments.title||'" + HomeResources.PopupTitle + "'}}",
	id: "id",
	showCancellButton:true,
	cancelText: GlobalResources.Exit
))
{
	<p>{{arguments.message}}</p>
}

